body{

font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;

}



.lightbox3-wrapper {
 // border: 2px solid #1A2A4D;
    border-radius: 6px 6px 6px 6px;
    width: 950px;
     box-shadow: 0 0 20px #1A2A4D;
}

.breadcrumb-3{
 background: none repeat scroll 0 0 #ADBBD7;
    border-bottom: 1px solid #1A2A4D;
    border-radius: 4px 4px 0 0;
    color: #ADBBD7;
    height: 40px;
}


.breadcrumb-3 #step3{

color: white !important;
font-weight: bold !important;

}

.breadcrumb-1{
border-bottom: 20px solid transparent;
    border-left: 20px solid #63B0E4;
    border-top: 20px solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 0;
 
    margin-left: -4px;
    vertical-align: top;
    width: 0;

}


.breadcrumb-text{
 display: inline-block;
    height: 40px;
    width: 125px;
      margin-left: -4px;
       text-align: center;
    }

.breadcrumb-text-text{
 display: inline-block;
    font-size: 13px;
    margin-top: 10px;
}

#step0-tip{
 border-top: 20px solid #5C77AE;
  border-bottom: 20px solid #5C77AE;
   border-left: 20px solid #ADBBD7;

}


#step1-tip{
 border-left: 20px solid #5C77AE;
}

#step1{
background: none repeat scroll 0 0 #5C77AE;
}



#step2-tip{
 border-left: 20px solid #33559A;
}

#step2{
background: none repeat scroll 0 0 #33559A;
}

#step1-tip{
border-bottom: 20px solid #33559A;
    border-top: 20px solid #33559A;
}





#step3-tip{
 border-left: 20px solid #29447B;
}

#step3{
background: none repeat scroll 0 0 #29447B;

}

#step2-tip{
border-bottom: 20px solid #29447B;
    border-top: 20px solid #29447B;
}


#step4-tip{
 border-left: 20px solid #1A2A4D;
}

#step4{
background: none repeat scroll 0 0 #1A2A4D;
}

#step3-tip{
border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
}








ul.tabs { list-style-type: none; padding: 0; margin: 0; }
ul.tabs li { float: left; padding: 0;   height: 23px; margin: 0; padding-top: 0; background: #123456; margin-right: 1px; } 
ul.tabs li a { display: block;  cursor: pointer; margin-top: 3px; padding: 0px 10px; text-decoration: none; background: #123456; } 
ul.tabs li a:hover {  }






#lightbox3-tab2{
color: #999999;
 border: 1px solid transparent;
    border-radius: 0 6px 0 0;

border-left: 1px solid #AAAAAA;
    margin-left: -1px;

}
#lightbox3-tab1{
color: #FFFFFF;
 border: 1px solid transparent;
    border-radius: 6px 0 0 0;
}


#lightbox3-tab1-content{

position: absolute;
width: 450px;
 border: 1px solid #1A2A4D;
  padding-top: 5px;
   padding-left: 5px;
   border-radius: 0 4px 4px 4px;
}
#lightbox3-tab2-content{
visibility: hidden;
position: absolute;
width: 450px;
 border: 1px solid #1A2A4D;
  padding-top: 5px;
   padding-left: 5px;
   border-radius: 0 4px 4px 4px;

}
.tab-item{
display: inline-block;
}

.lightbox3-content-wrapper{

height: 330px;
     margin: auto;
    width: 455px;
}

.lightbox3-div1{

 font-size: 15px;
    margin: 20px auto 10px;
    text-align: center;
    width: auto;

}


.inner-checkbox{

 vertical-align: top;
}


/* Scroll Bar */


#scrollbar-tab1 {
    clear: both;
    margin: 5px 0 0;
    width: 98%;
}
#scrollbar-tab1 .viewport {
    height: 223px;
    overflow: hidden;
    position: relative;
    width: 96%;
    margin-bottom: 5px;
}
#scrollbar-tab1 .overview {
    left: 0;
    list-style: none outside none;
    position: absolute;
    top: 0;
    width: 99%;
}
#scrollbar-tab1 .thumb .end, #scrollbar-tab1 .thumb {
    background-color: #555555;
     
}
#scrollbar-tab1 .scrollbar {
    float: right;
    position: relative;
    width: 10px;
}
#scrollbar-tab1 .track {
    background-color: #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 8px;
}
#scrollbar-tab1 .thumb {
   border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 20px;

    overflow: hidden;
    position: absolute;
    top: 0;
    width: 8px;
}
#scrollbar-tab1 .thumb .end {
    height: 5px;
    overflow: hidden;
    width: 8px;
    display: none;
   
}
#scrollbar-tab1 .disable {
    display: none;
}





#scrollbar-tab2 {
    clear: both;
    margin: 5px 0 0;
    width: 98%;
}
#scrollbar-tab2 .viewport {
    height: 223px;
    overflow: hidden;
    position: relative;
    width: 96%;
    margin-bottom: 5px;
}
#scrollbar-tab2 .overview {
    left: 0;
    list-style: none outside none;
    position: absolute;
    top: 0;
    width: 99%;
}
#scrollbar-tab2 .thumb .end, #scrollbar-tab2 .thumb {
    background-color: #555555;
     
}
#scrollbar-tab2 .scrollbar {
    float: right;
    position: relative;
    width: 10px;
}
#scrollbar-tab2 .track {
    background-color: #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 8px;
}
#scrollbar-tab2 .thumb {
   border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 20px;

    overflow: hidden;
    position: absolute;
    top: 0;
    width: 8px;
}
#scrollbar-tab2 .thumb .end {
    height: 5px;
    overflow: hidden;
    width: 8px;
    display: none;
   
}
#scrollbar-tab1 .disable {
    display: none;
}




.lightbox-button-div{
 
  background: -moz-linear-gradient(center top , #63B0E4 0%, #008DD5 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63B0E4), color-stop(100%,#008DD5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #63B0E4 0%,#008DD5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #63B0E4 0%,#008DD5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #63B0E4 0%,#008DD5 100%); /* IE10+ */
background: linear-gradient(to bottom, #63B0E4 0%,#008DD5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63B0E4', endColorstr='#008DD5',GradientType=0 ); /* IE6-9 */      
 
 
    border: 1px solid #3586C2;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
  
    margin-left: 15px;
    margin-right: 0;
    margin-top: 5px;
     display: inline-block;


}

.lightbox-button-div:hover {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #4FA8E2 100%) repeat scroll 0 0 transparent;    
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63B0E4), color-stop(100%,#4FA8E2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #63B0E4 0%,#4FA8E2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #63B0E4 0%,#4FA8E2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #63B0E4 0%,#4FA8E2 100%); /* IE10+ */
background: linear-gradient(to bottom, #63B0E4 0%,#4FA8E2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63B0E4', endColorstr='#4FA8E2',GradientType=0 ); /* IE6-9 */
   
}

.lightbox-button-text-span{

 color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 15px;
}


.selected-friend{
	
	background: #888;
	
}



