.signin-page-three-col-wrapper {
    box-shadow: 0 0 20px 1px #AAAAAA;
    margin: 30px auto;
    padding-bottom: 8px;
    width: 80%;
}
.signin-page-col1 {
    -moz-box-sizing: border-box;
    display: inline-block;
    width: 33.33%;
}
.signin-page-col2 {
    -moz-box-sizing: border-box;
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    width: 33.33%;
}
.signin-page-col3 {
    -moz-box-sizing: border-box;
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    width: 33.33%;
}
.signin-page-col1-item, .signin-page-col2-item {
    padding: 8px 6px 0 8px;
}
.signin-page-col1-item-image, .signin-page-col2-item-image {
    border-left: 1px solid #D6DDEB;
    border-right: 1px solid #D6DDEB;
    border-top: 1px solid #D6DDEB;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.signin-page-col1-item-text {
}
.signin-page-col1-item-review {
    color: #555555;
    display: inline-block;
    font-size: 11px;
    margin: 5px auto;
    vertical-align: top;
    width: 79%;
}
.signin-page-col1-item-stat, .signin-page-col2-item-stat {
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
}
.signin-page-col1-header {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #33559A;
    border-color: #FFFFFF #FFFFFF -moz-use-text-color;
    border-style: solid solid none;
    border-width: 6px 6px medium;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    height: 40px;
    line-height: 35px;
    padding-left: 15px;
}
.signin-page-col1-item-header, .signin-page-col2-item-header {
    border-bottom: 1px solid #D6DDEB;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    line-height: 25px;
    margin-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
}
.signin-page-col1-item-review-wrapper {
    background: none repeat scroll 0 0 #D6DDEB;
}
.signin-page-col1-item-review-wrapper img {
    cursor: pointer;
    margin: 5px;
}
.signin-page-col1-item-reviewer {
    color: #1F335C;
    cursor: pointer;
    font-weight: bold;
}
.signin-page-col3-item {
    background: none repeat scroll 0 0 #EEEEEE;
    border-left: 6px solid #FFFFFF;
    border-right: 6px solid #FFFFFF;
    border-top: 8px solid #FFFFFF;
    height: 100px;
}
.signin-page-col3-item-header {
    color: #14223E;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}
.signin-page-col3-item-image {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
    width: 80px;
}
.signin-page-col3-item-text {
    margin-left: 20px;
    margin-top: 3px;
}
.signin-page-col3-item-stat {
    display: inline-block;
    margin-left: 20px;
}
.signin-page-col3-header, .signin-page-col2-header {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #33559A;
    border-color: #FFFFFF #FFFFFF -moz-use-text-color;
    border-style: solid solid none;
    border-width: 6px 6px medium;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bolder;
    height: 40px;
    line-height: 35px;
    padding-left: 15px;
}
.signin-page-col3-item-stat-inner {
    color: #555555;
    width: 75px;
    margin-top: 5px;
    vertical-align: top;
    display: inline-block;
}
.signin-page-col3-header {
    background: none repeat scroll 0 0 #33559A;
}
.signin-page-col-like {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    width: 45px;
}
.signin-page-col-like img {
    vertical-align: middle;
}
.signin-page-col-star {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
     vertical-align: middle;
}
.signin-page-col-share {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    width: 45px;
}
.signin-page-col-tweet {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    width: 45px;
}
.signin-page-col-share img, .signin-page-col-tweet img {
    vertical-align: middle;
}
.signin-page-col-stat1 {
    margin-left: 20px;
}
.signin-page-col-stat2 {
    margin-left: 20px;
}
.signin-page-col2-item-image {
    border-bottom: 1px solid #D6DDEB;
}
.signin-page-col2-item {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}
.signin-page-col1-item-review a {
    color: #1F335C;
    cursor: pointer;
    font-weight: bold;
}
.signin-page-col1-item-review a:hover {
    text-decoration: underline;
}
