.profile-upload {
    background: none repeat scroll 0 0 #E5E5E5;
    border: 1px solid #A5A5A5;
    color: #444444;
    visibility: hidden;
    margin-left: 5px;
    margin-top: 3px;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    width: 133px;
}
.upload-tooltip {
}
.upload-tooltip div {
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
}
.profile-picture-upload-lightbox, .profile-picture-choose-lightbox, .profile-picture-remove-lightbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 24px 0 #222222;
    display: none;
    left: 25%;
    margin-left: 100px;
    margin-top: 30px;
    padding: 25px;
    position: fixed;
    top: 8%;
    z-index: 1002;
}
.ui-tooltip, .arrow:after {
    background: none repeat scroll 0 0 white;
    border: 1px solid rgba(100, 100, 100, 0.8);
}
.ui-tooltip {
    background: none repeat scroll 0 0 padding-box rgba(255, 255, 255, 0.98);
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
}
.arrow {
    bottom: -16px;
    height: 16px;
    left: 50%;
    margin-left: -35px;
    overflow: hidden;
    position: absolute;
    width: 70px;
}
.arrow.top {
    bottom: auto;
    top: -16px;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    -moz-transform: rotate(45deg);
    box-shadow: 6px 5px 9px -9px rgba(100, 100, 100, 0.4);
    content: "";
    height: 25px;
    left: 20px;
    position: absolute;
    top: -20px;
    width: 25px;
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}
#project-icon {
    float: left;
    height: 32px;
    width: 32px;
}
#project-description {
    margin: 0;
    padding: 0;
}
.ui-autocomplete {
    border-radius: 0 0 0 0;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 400px !important;
}
* html .ui-autocomplete {
    height: 300px;
}
#wrapper {
    height: 115px;
    vertical-align: top;
    width: 200px;
}
.questiontext {
    color: #333333;
    font-weight: bold;
    margin: 5px auto 10px;
    width: 150px;
}
.bar {
    font-size: 12px;
}
.content {
    font-size: 14px;
    margin-bottom: 300px;
}
.voteband {
    box-shadow: 6px 3px 6px #777777;
}
.lightbox1-wrapper {
    background: none repeat scroll 0 0 white;
    display: none;
    left: 15%;
    position: absolute;
    top: 10%;
}
.lightbox2-wrapper {
    background: none repeat scroll 0 0 white;
    display: none;
    left: 15%;
    position: absolute;
    top: 10%;
}
.lightbox3-wrapper {
    background: none repeat scroll 0 0 white;
    left: 15%;
    position: absolute;
    top: 10%;
    visibility: hidden;
}
#overlay {
    display: none;
    opacity: 0.4;
    position: absolute;
    top: 0;
}
.choose_file {
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: -27px;
    text-align: center;
     visibility: hidden;
}
.choose_file input[type="file"] {
  margin-left: -24px;
    opacity: 0;
    position: absolute;
    width: 135px;
}


.upload-tooltip-span{

    background-color: #FBFBFC;
    border: 1px solid #AAAAAA;
    color: #777777;
    padding: 3px;
    cursor: pointer;
    
    
}

.profile-upload-brows, .profile-upload-web, .profile-upload-remove{
	 padding-bottom: 4px;
    padding-top: 4px;
	cursor: pointer;
}

.profile-upload-brows{
 overflow: hidden;
     position: relative;
}



.profile-upload-brows:HOVER, .profile-upload-web:HOVER, .profile-upload-remove:HOVER {
	background-color: #33559A;
    color: #FFFFFF;
	
}
