.search-result-line {
    border-bottom: 1px solid #DDDDDD;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.result-button-wrapper {
    display: inline-block;
    float: right;
    margin-top: 20px;
}
.pagecontent-search {
    
    border: 1px solid #33559A;
    display: inline-block;
    min-height: 500px;
    padding-top: 10px;
    width: 58%;
}
.notification-page-header {
    border-bottom: 1px solid #CCCCCC;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
}
.notification-page-name {
    color: #33559A;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
}
.notification-page-line1 {
    color: #777777;
    line-height: 15px;
}
.notification-page-line2 {
    color: #777777;
    line-height: 15px;
}
.notification-page-line3 {
    line-height: 15px;
}
.notification-page-line3 a {
    color: #33559A;
    cursor: pointer;
    margin-right: 10px;
}
.notification-page-line3 a:hover {
    text-decoration: underline;
}
