body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}
.lightbox2-social {
    height: 60px;
}
.lightbox2-wrapper {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 20px #1A2A4D;
    width: 950px;
}
.lightbox2-button-wrapper {
    margin: 20px auto auto;
    width: 315px;
}
.lightbox2-social-name {
    display: inline-block;
    height: 40px;
}
.lightbox2-social-button {
    display: inline-block;
    float: right;
}
.lightbox2-social-name-text {
    margin-left: 10px;
}
.lightbox2-div1 {
    font-size: 15px;
    margin: 20px auto;
    text-align: center;
    width: auto;
}
.breadcrumb-2 {
    background: none repeat scroll 0 0 #ADBBD7;
    border-bottom: 1px solid #1A2A4D;
    border-radius: 4px 4px 0 0;
    color: #ADBBD7;
    height: 40px;
}
.breadcrumb-2 #step2 {
    color: white !important;
    font-weight: bold !important;
}
.breadcrumb-1 {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #63B0E4;
    border-top: 20px solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 0;
    margin-left: -4px;
    vertical-align: top;
    width: 0;
}
.breadcrumb-text {
    display: inline-block;
    height: 40px;
    margin-left: -4px;
    text-align: center;
    width: 125px;
}
.breadcrumb-text-text {
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
}
#step0-tip {
    border-bottom: 20px solid #5C77AE;
    border-left: 20px solid #ADBBD7;
    border-top: 20px solid #5C77AE;
}
#step1-tip {
    border-left: 20px solid #5C77AE;
}
#step1 {
    background: none repeat scroll 0 0 #5C77AE;
}
#step2-tip {
    border-left: 20px solid #33559A;
}
#step2 {
    background: none repeat scroll 0 0 #33559A;
}
#step1-tip {
    border-bottom: 20px solid #33559A;
    border-top: 20px solid #33559A;
}
#step3-tip {
    border-left: 20px solid #29447B;
}
#step3 {
    background: none repeat scroll 0 0 #29447B;
}
#step2-tip {
    border-bottom: 20px solid #29447B;
    border-top: 20px solid #29447B;
}
#step4-tip {
    border-left: 20px solid #1A2A4D;
}
#step4 {
    background: none repeat scroll 0 0 #1A2A4D;
}
#step3-tip {
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
}
.lightbox-button-div {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #008DD5 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3586C2;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 5px;
}
.lightbox-button-div:hover {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #4FA8E2 100%) repeat scroll 0 0 transparent;
}
.lightbox-button-text-span {
    color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 15px;
}



.pageheader {
	position: relative;
	}
	
.reg-invitation-header{
	
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	font-size: 22px;
	color: #666;
	text-align: center;
}





body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}
.lightbox3-wrapper {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 20px #1A2A4D;
    width: 950px;
}
.breadcrumb-3 {
    background: none repeat scroll 0 0 #ADBBD7;
    border-bottom: 1px solid #1A2A4D;
    border-radius: 4px 4px 0 0;
    color: #ADBBD7;
    height: 40px;
}
.breadcrumb-3 #step3 {
    color: white !important;
    font-weight: bold !important;
}
.breadcrumb-1 {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #63B0E4;
    border-top: 20px solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 0;
    margin-left: -4px;
    vertical-align: top;
    width: 0;
}
.breadcrumb-text {
    display: inline-block;
    height: 40px;
    margin-left: -4px;
    text-align: center;
    width: 125px;
}
.breadcrumb-text-text {
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
}
#step0-tip {
    border-bottom: 20px solid #5C77AE;
    border-left: 20px solid #ADBBD7;
    border-top: 20px solid #5C77AE;
}
#step1-tip {
    border-left: 20px solid #5C77AE;
}
#step1 {
    background: none repeat scroll 0 0 #5C77AE;
}
#step2-tip {
    border-left: 20px solid #33559A;
}
#step2 {
    background: none repeat scroll 0 0 #33559A;
}
#step1-tip {
    border-bottom: 20px solid #33559A;
    border-top: 20px solid #33559A;
}
#step3-tip {
    border-left: 20px solid #29447B;
}
#step3 {
    background: none repeat scroll 0 0 #29447B;
}
#step2-tip {
    border-bottom: 20px solid #29447B;
    border-top: 20px solid #29447B;
}
#step4-tip {
    border-left: 20px solid #1A2A4D;
}
#step4 {
    background: none repeat scroll 0 0 #1A2A4D;
}
#step3-tip {
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
}
ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.tabs li {
    background: none repeat scroll 0 0 #123456;
    float: left;
    height: 23px;
    margin: 0 1px 0 0;
    padding: 0;
}
ul.tabs li a {
    background: none repeat scroll 0 0 #123456;
    cursor: pointer;
    display: block;
    margin-top: 3px;
    padding: 0 10px;
    text-decoration: none;
}
ul.tabs li a:hover {
}
#lightbox3-tab2, #lightbox3-tab1 {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #AAAAAA;
    border-radius: 0 6px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #999999;
    margin-left: -1px;
}
#lightbox3-tab1 {
    border-radius: 6px 0 0 0;
    color: #FFFFFF;
}
#lightbox3-tab1-content {
    border: 1px solid #1A2A4D;
    border-radius: 0 4px 4px 4px;
    position: absolute;
    width: 750px;
    background: #FFF;
}
#lightbox3-tab2-content {
    border: 1px solid #1A2A4D;
    border-radius: 0 4px 4px 4px;
    position: absolute;
    visibility: hidden;
    width: 750px;
    background: #FFF;
}
.tab-item {
    display: inline-block;
}
.lightbox3-content-wrapper {
    height: 350px;
    margin: auto;
    width: 760px;
}
.lightbox3-div1 {
    font-size: 15px;
    margin: 24px auto -4px;
    text-align: center;
    width: auto;
}
.inner-checkbox {
    margin-top: 18px;
    vertical-align: top;
}
#scrollbar-tab1 {
    clear: both;
    margin: 0 auto;
    padding-bottom: 8px;
    padding-top: 5px;
    width: 99%;
}
#scrollbar-tab1 .viewport {
    height: 212px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 97%;
}
#scrollbar-tab1 .overview {
    left: 0;
    list-style: none outside none;
    position: absolute;
    top: 0;
    width: 99%;
}
#scrollbar-tab1 .thumb .end, #scrollbar-tab1 .thumb {
    background-color: #555555;
}
#scrollbar-tab1 .scrollbar {
    float: right;
    position: relative;
    width: 10px;
}
#scrollbar-tab1 .track {
    background-color: #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 8px;
}
#scrollbar-tab1 .thumb {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 8px;
}
#scrollbar-tab1 .thumb .end {
    display: none;
    height: 5px;
    overflow: hidden;
    width: 8px;
}
#scrollbar-tab1 .disable {
    display: none;
}
#scrollbar-tab2 {
    clear: both;
    margin: 0 auto;
    padding-bottom: 8px;
    padding-top: 5px;
    width: 99%;
}
#scrollbar-tab2 .viewport {
    height: 212px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 97%;
}
#scrollbar-tab2 .overview {
    left: 0;
    list-style: none outside none;
    position: absolute;
    top: 0;
    width: 99%;
}
#scrollbar-tab2 .thumb .end, #scrollbar-tab2 .thumb {
    background-color: #555555;
}
#scrollbar-tab2 .scrollbar {
    float: right;
    position: relative;
    width: 10px;
}
#scrollbar-tab2 .track {
    background-color: #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 8px;
}
#scrollbar-tab2 .thumb {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 8px;
}
#scrollbar-tab2 .thumb .end {
    display: none;
    height: 5px;
    overflow: hidden;
    width: 8px;
}
#scrollbar-tab2 .disable {
    display: none;
}
.lightbox-button-div {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #008DD5 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3586C2;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 5px;
}
.lightbox-button-div:hover {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #4FA8E2 100%) repeat scroll 0 0 transparent;
}
.lightbox-button-text-span {
    color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 15px;
}
.selected-friend {
    background: none repeat scroll 0 0 #D6DDEB;
}
#mfs-textbox-1, #mfs-textbox-2 {
    border: 1px solid #CCCCCC;
    margin-left: 5px;
    padding: 3px;
    width: 420px;
}
.tab-item {
    cursor: pointer;
    height: 48px;
    margin-top: 3px;
    width: 173px;
}
.tab-item div {
    display: inline-block;
    margin-top: 18px;
    vertical-align: top;
    width: 100px;
    word-wrap: normal;
}
.tab-item img {
    padding-top: 3px;
}
.button-positive {
    background: none repeat scroll 0 0 #6079AB !important;
    border-color: #29447E #29447E #1A356E;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 18px;
    margin-top: 4px;
    padding-top: 3px;
    text-align: center;
    vertical-align: top;
    width: 100px;
}
.button-negative {
    background: none repeat scroll 0 0 #EEEEEE !important;
    border-color: #999999 #999999 #888888;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 18px;
    margin-top: 4px;
    padding-top: 3px;
    text-align: center;
    vertical-align: top;
    width: 85px;
}
.mfs-button-wrapper {
    float: right;
    width: 205px;
}
.mfs-header {
    background: none repeat scroll 0 0 #EEEEEE;
    padding-bottom: 8px;
    padding-top: 7px;
}
.mfs-footer {
    background: none repeat scroll 0 0 #EEEEEE;
    height: 32px;
    padding-top: 3px;
}
#mfs-search-span-1, #mfs-search-span-2 {
    color: #555555;
    display: none;
    margin-left: 10px;
}
#mfs-checkbox-1, #mfs-checkbox-2 {
    margin-left: 14px;
}
.mfs-header label {
    margin-left: 5px;
}



.lightbox-facebook-wrapper{
	position: absolute;
	display: none;
	top: 15%;
	left: 20%;
	z-index: 1002;
}











