.account-setting-wrapper {
    margin: 50px auto auto;
    width: 930px;
}
.account-setting-leftmenu {
    display: inline-block;
    width: 170px;
}
.account-setting-rightpane {
    border: 1px solid #BBBBBB;
    display: inline-block;
    height: 400px;
    margin-left: -3px;
    padding: 10px;
    vertical-align: top;
    width: 730px;
}
.account-setting-leftmenu-name {
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
}
.account-setting-leftmenu-name:hover {
    background: none repeat scroll 0 0 #EFF2F7;
}
.active-left-menu {
    background-color: #D8DFEA;
    font-weight: bold;
}
.active-left-menu:hover {
    background-color: #D8DFEA;
    font-weight: bold;
}
.account-setting-rightpane-content {
    display: none;
}
.account-setting-rightpane-content-show {
    display: block;
}
.account-setting-rightpane-content-innerwrapper {
    border-bottom: 1px solid #BBBBBB;
    width: 730px;
}
.rightpane-header {
    border-bottom: 1px solid #BBBBBB;
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.rightpane-content-line-right {
    display: inline-block;
    font-weight: bold;
    padding-left: 10px;
    width: 140px;
}
.rightpane-content-line-left {
    display: inline-block;
    width: 540px;
}
.rightpane-content-line-edit {
    cursor: pointer;
    display: inline-block;
}
.rightpane-content-line-expand {
    background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #DDDDDD;
    display: none;
}
.button-positive {
    background: none repeat scroll 0 0 #6079AB !important;
    border-color: #29447E #29447E #1A356E;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 18px;
    margin-top: 4px;
    padding-top: 3px;
    text-align: center;
    vertical-align: top;
    width: 85px;
}
.button-negative {
    background: none repeat scroll 0 0 #EEEEEE !important;
    border-color: #999999 #999999 #888888;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 18px;
    margin-top: 4px;
    padding-top: 3px;
    text-align: center;
    vertical-align: top;
    width: 85px;
}
.general-content-right-content {
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
}
.general-content-right-header {
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    width: 140px;
}
.rightpane-content-button-wrapper {
    margin: 3px auto 12px;
    width: 190px;
}
.rightpane-content-line {
    border-bottom: 1px solid #DDDDDD;
    height: 36px;
    line-height: 36px;
}
.rightpane-content-line-last {
    border-bottom: medium none;
}


.rightpane-content-line:HOVER {
	background: #F7F7F7;
	
	}