
.pageheader{
	height: 85px;
}
.loginpage-header{
	 border-bottom: medium none;
    box-shadow: none;
    margin-top: 30px;
    width: 85%;
}
.pageheader-logo{}
.company-logo{
	font-size: 30px;
}
.pageheader-right{
	 float: none;
    margin-left: 15px;
}