.signin-page-lightbox-signupin {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 24px 0 #222222;
    display: none;
    left: 22%;
    position: absolute;
    top: 20%;
    z-index: 1002;
}
.signin-page-lightbox-signupin-div1 {
}
.signin-page-lightbox-signupin-div1-login {
    border-right: 1px solid #AAAAAA;
    display: inline-block;
    height: 215px;
    padding-right: 50px;
    vertical-align: top;
    width: 300px;
}
.signin-page-lightbox-signupin-div1-fbtw {
    display: inline-block;
    margin-left: 13px;
}
.signin-page-lightbox-signupin-div2 {
    background: none repeat scroll 0 0 #F9F9F9;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #BBBBBB;
    font-size: 12px;
    height: 35px;
    line-height: 42px;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.pagecontent-search {
    width: auto;
}
.signin-search-col {
    display: inline-block;
}
.search-result-line {
    cursor: pointer;
}
.signin-fb-tw {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
}
.signin-page-lightbox-logintext {
    font-size: 20px;
}
.lightbox-login-button {
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    width: 75px;
}
.login-lightbox-inout {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    display: block;
    font-size: 13px;
    height: 22px;
    margin-top: 10px;
    width: 250px;
}
.username-password-lightbox {
    display: block;
}
.signin-fb-tw-text {
    font-size: 18px;
    font-weight: normal;
}
.signin-fb-button {
    margin-top: 30px;
}
.signin-tw-button {
}
.lightbox-content {
    padding: 35px 35px 0;
}
.signup-text {
    color: #6079AB;
    font-weight: bold;
     cursor: pointer;
}
.signup-text:HOVER {
text-decoration: underline;
	}

.forgotPasswordLink {
    color: #98A9CA;
    font-size: 13px;
    text-decoration: none;
}
