body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    margin: auto;
    min-width: 1200px;
}
.pageheader {
    background: none repeat scroll 0 0 #33559A;
    border-bottom: 1px solid #AAAAAA;
    border-top: 2px solid;
    box-shadow: 0 6px 14px #333333;
    height: 32px;
    padding-left: 8%;
}
.pageheader-logo {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-left: 20px;
}
.pageheader-searchbar {
    display: inline-block;
    margin-left: 25px;
    padding-top: 4px;
    vertical-align: top;
}
.pageheader-searchbutton {
    background: url("../images/search-icon.png") repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    cursor: pointer;
    height: 22px;
    margin-left: -5px;
    vertical-align: top;
    width: 22px;
}
.pageheader-textarea {
    border: 0 none;
    height: 20px;
    padding-left: 5px;
    width: 350px;
}
.pageheader-textarea:focus {
    border: 0 none;
}
.pageheader-right {
    display: inline-block;
    float: right;
    margin-right: 90px;
    vertical-align: top;
}
.pageheader-right div:hover {
    background: none repeat scroll 0 0 #29447B;
}
.pageheader-right div ul li:hover {
    background: none repeat scroll 0 0 #29447B;
}
.pageheader-friends {
    border-right: 1px solid #11285B;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-right: -4px;
    padding: 0 16px;
    vertical-align: top;
}
.pageheader-home {
    border-left: 2px solid #6677A1;
    border-right: 1px solid #11285B;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-right: -3px;
    padding: 0 16px;
    vertical-align: top;
}
.pageheader-howitworks {
    border-left: 2px solid #6677A1;
    border-right: 1px solid #11285B;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-right: -3px;
    padding: 0 16px;
    vertical-align: top;
}
.pageheader-alert {
    border-left: 2px solid #6677A1;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    padding: 0 16px 0 9px;
    vertical-align: top;
}
.pageheader-alert ul {
    background: none repeat scroll 0 0 #33559A;
    display: none;
    list-style: none outside none;
    margin-left: -10px;
    margin-top: -2px;
    min-width: 110px;
    position: absolute;
    z-index: 10;
}
.pageheader-alert:hover > ul {
    display: block;
}
.pageheader-alert ul:hover {
    display: block;
}
.pageheader-alert ul li {
    border-bottom: 1px solid #AAAAAA;
    color: #FFFFFF;
    height: 20px;
    list-style: none outside none;
    margin-left: -40px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 10px;
}
.pagecontent {
    background: none repeat scroll 0 0 white;
    margin-top: 15px;
}
.pagecontentintrobar {
    display: block;
    height: 165px;
    margin: auto;
    width: 85%;
}
.pagecontent-introbardisplaypic {
    display: inline-block;
    margin-top: 10px;
    width: 145px;
}
.pagecontent-introbaruserinfo {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    width: 130px;
}
.social-plugins-image {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: 3px;
    margin-right: 3px;
    width: 20px;
}
.social-plugins-image1 {
    background: url("../images/fc-webicon-facebook-s.png") repeat scroll 0 0 transparent;
}
.social-plugins-image2 {
    background: url("../images/fc-webicon-googleplus-s.png") repeat scroll 0 0 transparent;
}
.social-plugins-image3 {
    background: url("../images/fc-webicon-linkedin-s.png") repeat scroll 0 0 transparent;
}
.social-plugins-image4 {
    background: url("../images/fc-webicon-twitter-s.png") repeat scroll 0 0 transparent;
}
.pagecontent-introbarfriendsthumbails {
    display: inline-block;
    height: 168px;
    margin-top: 8px;
    vertical-align: top;
    width: 350px;
}
.introbarfriendsthumbails-pic {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100% auto;
    border: 1px solid #999999;
    border-radius: 6px 6px 6px 6px;
    display: inline-block;
    height: 65px;
    width: 65px;
}
.introbarfriendsthumbails-button {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #008DD5 100%) repeat scroll 0 0 transparent;
    border: 1px solid #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    float: right;
    margin-right: 3px;
    margin-top: 50px;
    vertical-align: text-bottom;
}
.introbarfriendsthumbails-button:hover {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #4FA8E2 100%) repeat scroll 0 0 transparent;
}
.pagecontent-introbarfriendsthumbails-line2 {
}
.pagecontent-introbarfriendsthumbails-line2 {
    margin-top: 10px;
}
.thumbnailes-button-span {
    color: white;
    display: block;
    font-size: 11px;
    padding: 3px 13px;
}
.pagecontent-introbarbarchart {
    display: inline-block;
    height: 168px;
    margin-bottom: 5px;
    margin-top: 8px;
    vertical-align: top;
    width: 230px;
}
.displaypic {
    border: 1px solid #AAAAAA;
    height: 143px;
    width: 143px;
}
.social-plugins {
    height: 22px;
    margin-left: 13px;
    margin-top: 5px;
    width: 120px;
}
.pagecontent-introbaruserinfo-name {
    color: #33569B;
    display: block;
    font-size: 18px;
}
.pagecontent-introbaruserinfo-1, .pagecontent-introbaruserinfo-2, .pagecontent-introbaruserinfo-3 {
    color: #444444;
    display: block;
    margin-top: 4px;
}
.pagecontent-body {
    margin: 0 auto auto;
    padding-top: 10px;
    width: 95%;
}
.pagecontent-yourproducts {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}
.pagecontent-newsfeed {
    border-left: 1px solid #33559A;
    border-right: 1px solid #33559A;
    display: inline-block;
    width: 48%;
}
.pagecontent-wishlist {
    display: inline-block;
    float: right;
    width: 25%;
}
.pagecontent-yourproducts-title, .pagecontent-wishlist-title {
    background: -moz-linear-gradient(center top , #517FC5 0%, #3F62AB 100%) repeat scroll 0 0 transparent;
    border: 1px solid #6179A1;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 3px 3px 3px #AAAAAA;
    color: white;
    height: 30px;
    width: 95%;
}
.left-right-title {
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    padding-left: 17px;
    padding-top: 6px;
}
.pageheader-menu {
    display: block;
    font-weight: bold;
    padding-top: 7px;
}
.company-logo {
    display: block;
    padding-top: 4px;
}
.pagecontent-yourproducts-button {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #008DD5 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3586C2;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}
.left-right-button {
    color: white;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 9px;
}
.pagecontent-yourproducts-button:hover {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #4FA8E2 100%) repeat scroll 0 0 transparent;
}
.newsfeed-text {
    margin: auto;
    width: 90%;
}
.newsfeed-textarea {
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    height: 55px;
    overflow-y: hidden;
    padding: 5px;
    resize: none;
    width: 98%;
}
.newsfeed-button {
    background: -moz-linear-gradient(center top , #517FC5 0%, #3F62AB 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3586C2;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    float: right;
    margin-right: 5px;
    margin-top: 8px;
}
.newsfeed-button:hover {
    background: -moz-linear-gradient(center top , #517FC5 0%, #4E7AC1 100%) repeat scroll 0 0 transparent;
}
.newsfeed-button-text {
    color: white;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 15px;
}
.newsfeed-product-part1 {
    margin: 50px auto;
    width: 500px;
}
.newsfeed-product-part2 {
    background: none repeat scroll 0 0 #EDEEF4;
    margin: 10px auto;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    width: 85%;
}
.yourproducts-products {
    width: 95%;
}
.yourproducts-products-name {
    border-bottom: 1px dotted #AAAAAA;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    margin-top: 20px;
    padding-left: 10px;
}
.yourproducts-products-body {
    margin-top: 7px;
}
.yourproducts-products-image {
    display: inline-block;
    height: 85px;
    width: 75px;
}
.yourproducts-products-info {
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    vertical-align: top;
}
.products-like {
    background: url("../images/like.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 27px;
    width: 36px;
}
.products-unlike {
    background: url("../images/dislike.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 27px;
    width: 36px;
}
.products-like-unlike-status {
    color: #777777;
}
.products-history {
    margin-top: 5px;
}
.products-history-date {
    color: #0085CC;
    display: block;
}
.newsfeed-post {
}
.newsfeed-created-by-image {
    display: inline-block;
    height: 60px;
    margin-left: 10px;
    vertical-align: top;
    width: 60px;
}
.newsfeed-created-by-text {
    display: inline-block;
    margin-left: 10px;
}
.newsfeed-created-by-name {
}
.newsfeed-comment-image {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100% auto;
    border: 1px solid #999999;
    border-radius: 6px 6px 6px 6px;
    display: inline-block;
    height: 65px;
    vertical-align: top;
    width: 65px;
}
.newsfeed-comment-username {
    color: #335598;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.newsfeed-comment-text {
    
    width: 400px;
    
     background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    margin-bottom: 3px;
    margin-top: 5px;
    padding: 5px;
    text-align: justify;
    
    
}
.newsfeed-comment-translation {
    color: #355498;
    margin-bottom: 1px;
}
.newsfeed-comment-likebar {
    color: #AAAAAA;
    margin-bottom: 1px;
}
.newsfeed-comment-commentdiv {
    background: none repeat scroll 0 0 #EDEEF4;
    width: 100%;
}
.newsfeed-comment-commenttext {
    border-bottom: 2px solid #FFFFFF;
}
.newsfeed-comment-writecomment {
}
.newsfeed-comment-commenttext-image {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100% auto;
    border: 1px solid #999999;
    border-radius: 6px 6px 6px 6px;
    display: inline-block;
    height: 40px;
    vertical-align: top;
    width: 40px;
}
.newsfeed-comment-commenttext-wrapper {
    display: inline-block;
    margin: 4px 6px 1px 4px;
}
.newsfeed-comment-commenttext-wrapper-text {
    width: 350px;
    text-align: justify;
}
.newsfeed-comment-commenttext-wrapper-translation {
    color: #3553BC;
    margin-top: 2px;
}
.newsfeed-comment-commenttext-wrapper-likebar {
    color: #AAAAAA;
    margin-top: 1px;
}
.newsfeed-comment-commenttext-wrapper-text span {
    color: #3355A4;
    font-weight: bold;
    margin-right: 4px;
}
.newsfeed-comment-commenttext-wrapper-textarea {
    display: block;
    width: 335px;
    resize: none;
    
     border: 1px solid #AAAAAA;
   
   
    overflow-y: hidden;
    padding: 5px;
   
   
    
}


.newsfeed-comment-commenttext-button {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #008DD5 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3586C2;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    float: right;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 5px;
}
.newsfeed-comment-commenttext-button-span {
    color: white;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 15px;
}
.newsfeed-comment-commenttext-button:hover {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #4FA8E2 100%) repeat scroll 0 0 transparent;
}
.newsfeed-comment-commenttext-button-fb {
    background: -moz-linear-gradient(center top , #517FC5 0%, #3F62AB 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3586C2;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    float: right;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 5px;
}
.newsfeed-comment-commenttext-button-fb:hover {
    background: -moz-linear-gradient(center top , #517FC5 0%, #4E7AC1 100%) repeat scroll 0 0 transparent;
}
.newsfeed-comment-commenttext-button-fb-1 {
    background: -moz-linear-gradient(center top , #517FC5 0%, #3F62AB 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3586C2;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    float: right;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 10px;
}
.newsfeed-comment-commenttext-button-fb-1:hover {
    background: -moz-linear-gradient(center top , #517FC5 0%, #4E7AC1 100%) repeat scroll 0 0 transparent;
}
.newsfeed-comment-commenttext-button-span-1 {
    color: white;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 10px;
}
#scrollbar1 {
    clear: both;
    margin: 5px 0 10px;
    width: 95%;
}
#scrollbar1 .viewport {
    height: 405px;
    overflow: hidden;
    position: relative;
    width: 95%;
}
#scrollbar1 .overview {
    left: 0;
    list-style: none outside none;
    position: absolute;
    top: 0;
    width: 99%;
}
#scrollbar1 .thumb .end, #scrollbar1 .thumb {
    background-color: #555555;
}
#scrollbar1 .scrollbar {
    float: right;
    position: relative;
    width: 10px;
}
#scrollbar1 .track {
    background-color: #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 8px;
}
#scrollbar1 .thumb {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 8px;
}
#scrollbar1 .thumb .end {
    display: none;
    height: 5px;
    overflow: hidden;
    width: 8px;
}
#scrollbar1 .disable {
    display: none;
}
.noSelect {
    -moz-user-select: none;
}
#scrollbar2 {
    clear: both;
    margin: 5px 0 10px;
    width: 95%;
}
#scrollbar2 .viewport {
    height: 405px;
    overflow: hidden;
    position: relative;
    width: 95%;
}
#scrollbar2 .overview {
    left: 0;
    list-style: none outside none;
    position: absolute;
    top: 0;
    width: 99%;
}
#scrollbar2 .thumb .end, #scrollbar2 .thumb {
    background-color: #555555;
}
#scrollbar2 .scrollbar {
    float: right;
    position: relative;
    width: 10px;
}
#scrollbar2 .track {
    background-color: #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 8px;
}
#scrollbar2 .thumb {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 8px;
}
#scrollbar2 .thumb .end {
    display: none;
    height: 5px;
    overflow: hidden;
    width: 8px;
}
#scrollbar2 .disable {
    display: none;
}
#scrollbar3 {
    clear: both;
    width: 99%;
}
#scrollbar3 .viewport {
    height: 426px;
    overflow: hidden;
    position: relative;
    width: 96%;
}
#scrollbar3 .overview {
    left: 0;
    list-style: none outside none;
    margin-left: 2px;
    position: absolute;
    top: 0;
    width: 100%;
}
#scrollbar3 .thumb .end, #scrollbar3 .thumb {
    background-color: #555555;
}
#scrollbar3 .scrollbar {
    float: right;
    position: relative;
    width: 10px;
}
#scrollbar3 .track {
    background-color: #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 8px;
}
#scrollbar3 .thumb {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 8px;
}
#scrollbar3 .thumb .end {
    display: none;
    height: 5px;
    overflow: hidden;
    width: 8px;
}
#scrollbar3 .disable {
    display: none;
}
.barchartpercentage {
    color: #AAAAAA;
    float: right;
    font-size: 11px;
    margin-right: 5px;
    margin-top: 5px;
}
.horizantal-scroll-left {
    border-bottom: 10px solid transparent;
    border-right: 10px solid #63B0E4;
    border-top: 10px solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 0;
    margin-right: 5px;
    margin-top: 70px;
    vertical-align: top;
    width: 0;
}
.horizantal-scroll-right {
    border-bottom: 10px solid transparent;
    border-left: 10px solid #63B0E4;
    border-top: 10px solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 0;
    margin-left: 5px;
    margin-top: 70px;
    vertical-align: top;
    width: 0;
}
.horizantal-scroll-left:hover {
    border-right: 10px solid #008DD5;
}
.horizantal-scroll-right:hover {
    border-left: 10px solid #008DD5;
}
#tip-arrow {
    border-color: transparent transparent #F7F7F7;
    border-style: dashed dashed solid;
    border-width: 0 10px 10px;
    height: 0;
    position: absolute;
    top: 30px;
    visibility: hidden;
    width: 0;
    z-index: 1000;
}
#tooltip {
    background: none repeat scroll 0 0 padding-box rgba(255, 255, 255, 0.98);
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    left: 8%;
    position: absolute;
    top: 39px;
    visibility: hidden;
    width: 330px;
}
.notification-ul {
    list-style: none outside none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
.notification-ul li {
    border-bottom: 1px solid #C5C5C5;
    padding: 3px;
}
.notifications-header {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #C5C5C5;
    height: 17px;
    padding-left: 5px;
    padding-top: 5px;
}
.notification-ul li:last-child {
    border-bottom: medium none;
}
.see-all {
    background: none repeat scroll 0 0 #F7F7F7;
    border-top: 1px solid #C5C5C5;
    height: 13px;
    padding-bottom: 3px;
    padding-top: 5px;
    text-align: center;
}
.pagefooter {
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}
.pagecontent-search {
    border-left: 1px solid #33559A;
    border-right: 1px solid #33559A;
    display: inline-block;
    min-height: 500px;
    width: 58%;
}
.search-result-line {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
.search-result-button {
    background: -moz-linear-gradient(center top , #517FC5 0%, #3F62AB 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3586C2;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 5px;
    vertical-align: top;
}
.search-result-button:hover {
    background: -moz-linear-gradient(center top , #517FC5 0%, #4E7AC1 100%) repeat scroll 0 0 transparent;
}
.search-result-button-span {
    color: white;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px;
}
.search-results-body {
    border-top: medium none;
}
.search-results-col1 {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.search-results-col2 {
    display: inline-block;
    float: right;
    width: 20%;
}
.search-results-col1-links {
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}
.search-results-col1-header {
    color: #999999;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}
.search-results-col1-links:hover {
    background: none repeat scroll 0 0 #EFF2F7;
}
#overlay {
    display: none;
    opacity: 0.4;
    position: absolute;
    top: 0;
}
.lightbox-search-add {
    background: none repeat scroll 0 0 white;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 20px #1A2A4D;
    display: none;
    height: 156px;
    left: 40%;
    padding: 10px;
    position: absolute;
    top: 30%;
    width: 320px;
}
#star-rating-search {
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
}
