.newsfeed-textarea-bottom{
	
	
	
   
    border-radius: 0 0 3px 3px;
   
    border: 1px solid #AAA;
    border-top: 0px solid;
    height: 20px;
    margin: auto;
    width: 510px;
    color: #777;
    
    background: none repeat scroll 0 0 #EFEFEF;
}




.post-picture-upload{
	border: 1px solid #AAAAAA;
    margin: auto;
    width: 510px;
    display: none;
	 text-align: left;
	 border-top: 0px solid;
	  height: 92px;
}

.post-picture-upload-thumnail{
	
	 border: 1px solid #EEEEEE;
    display: inline-block;
    height: 70px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
    position: relative;
    width: 90px;
}


.post-picture-upload-thumnail-img{
	  background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #FFFFFF;
    display: block;
    height: 70px;
   
    width: 90px;
	
}

.post-picture-upload-selected-remove-button{
	 background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #888888;
    border-radius: 10px 10px 10px 10px;
    color: #888888;
    cursor: pointer;
    display: none;
    font-family: Lucida Console;
    font-size: 13px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 2px;
    width: 15px;
    z-index: 8040;
}



.post-picture-upload-thumnail:hover .post-picture-upload-selected-remove-button {
    display: block;
}



.post-picture-upload-addnew{
	background: none repeat scroll 0 0 #E2E7F1;
    border: 1px dashed #C7C2BC;
    color: #FFFFFF;
    display: inline-block;
    font-size: 55px;
    font-weight: bold;
    height: 70px;
    line-height: 60px;
    margin-top: 10px;
    text-align: center;
    vertical-align: top;
    width: 90px;
     overflow: hidden;
    position: absolute;
     margin-left: 7px;
}


.newsfeed-textarea-bottom-rate{
	
	display: inline-block;
	
}





.post-picture-upload-addnew input[type="file"] {
  cursor: pointer;
    height: 70px;
    margin-left: -168px;
    opacity: 0;
    position: absolute;
}




.post-picture-upload-thumnail-img{
	
	width: 90px;
	
}