.clearer{
	clear: both;
}

#conatiner {

}
#container .header{
	height: 120px;
	text-align: left;
	background: #00aeef;
}
#container .header div{
	width: 70%;
	margin: 0 auto;
	padding-left: 180px;
	color:#fff;
	font-size: 25px;
	line-height: 100px;

}
#container .content {
	width: 70%;
	margin: 0 auto;	
	
}
#container .content .input-head{
	padding-left: 100px;
	color:#999;
	font-size: 20px;
	line-height: 48px;
	padding-top: 35px;
	font-weight: 600;

}
#container .content .search-box{
	margin-left: 100px;
	padding:10px;
	border: 1px solid #ddd;
	font-size: 18px;
	border-radius: 3px;
	background: #f9f9f9;
	width: 500px;
	color: #96b4bf;
}

#container .content .button{
	float:left;
	margin-left: 100px;
	margin-top: 20px;
}

::-webkit-input-placeholder {
 color: #96b4bf;
}

:-moz-placeholder { /* Firefox 18- */
   color: #96b4bf;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #96b4bf;
}

:-ms-input-placeholder {  
   color: #96b4bf;
}
#container .content .grey-button{
	float:left;
	margin-left: 10px;
	margin-top: 20px;
	background: #999;
	color: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	font-family: latoregular;
	font-size: 12px;
	color: #FFF;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer
}

#container .content .grey-button:hover{
	color: #000;
	background: #fff;
}

#container .content .profile .profile-img{
	float: left;
	width: 110px;
	margin-left: 100px;
}

#container .content .profile .profile-detail{
	float: left;
	width: 300px;
	padding-top: 10px;
}
#container .content .profile .profile-detail .name{
	color: #00aeef;
	font-size: 24px;
	padding-bottom: 5px;
	line-height: 42px;
}
#container .content .profile .profile-detail .email-link{
	color: #96b4bf;
}
#container .content .profile .profile-detail .email-id{
	color: #ddd;
}
#container .content .wrong-id{
	color: #999;
	display: inline-block;
	margin-top: 25px;
	margin-left: 20px;
}







