/* 
Masttag Common Styling Version 1.0 
Do not change
*/
//TODO: This is a comment.


@font-face
{
font-family: latolite;
src: url(fonts/Lato/Lato-Light.woff);
}  
    
@font-face
{
font-family: latoregular;
src: url(fonts/Lato/Lato-Regular.woff);
}  

body {
    background: #FFFFFF;
    color: #999999;
    font-family: latoregular;
}


.page-master-header {
    height: 50px;
    padding-right: 57px;
    padding-left: 57px;
    border-bottom: 1px solid #e7e7e7;
}

.page-master-header-logo {
    display: inline-block;
    margin-right: 28px;
   
}

.page-master-header-alert {
    display: inline-block;
   
}

.page-master-header-searchbox {
    display: inline-block;
    margin-right: 15px;
}

.page-master-header-account-info {
    display: inline-block;
}


.page-master-headr-logo-div {
    background-image: url("../img/musttaglogo.png");
    height: 32px;
    width: 102px;
}

.page-master-header-account-info-thumbnail {
    background-image: url("../img/userthumbnail.png");
    height: 22px;
    width: 22px;
    background-size:22px 22px;
    background-repeat:no-repeat;
    display: inline-block
}

.page-master-header-account-info-username {
    display: inline-block;
    vertical-align: top;
    color: #ccc;
}

.page-master-subheader-product-thumbnail {
    background-image: url("../img/iPhone5S.png");
    height: 75px;
    width: 75px;
    background-size:75px 75px;
    background-repeat:no-repeat;
    display: inline-block
}

.page-master-subheader-product-info {
    display: inline-block;
    
}

.page-master-subheader-product-info-rating i{
   color: #00aeef;
}

.masttag-regular-button {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    font-family: latoregular;
    font-size: 12px;
    color: #BBB;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.masttag-regular-button:hover{
 
    border: 1px solid #00aeef;
    color: #00aeef;
}

.page-master-subheader-product-social-stat-button-div {
    display: inline-block;
}

.page-master-subheader-product-social-stat {
    display: inline-block;
}

.page-master-subheader-product-other-images {
    display: inline-block;
}

.page-master-subheader-product-other-images-thumbnail-div { 
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.page-master-subheader-product-other-images-thumbnail-more {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.page-master-subheader-product-ratingstat {
    display: inline-block;
}

.page-master-header-right {
    display: inline-block;
    float: right;
}

.page-master-header-left {
    display: inline-block;
}

.page-master-header-search-text {
    border: 1px solid #e7e7e7;
    width: 350px;
    height: 30px;
    padding: 0 0 0 0;
    font-size: 13px;
    color: #bbbbbb;
    padding-left: 10px;
    padding-right: 30px;
}

.page-master-search-logo {
    margin-left: -30px;
}

.page-master-subheader {
    border-bottom: 1px solid #e7e7e7;
    padding-right: 57px;
    padding-left: 57px;
   
}
