/* 
Masttag Common Styling Version 1.0 
Do not change
*/
//TODO: This is a comment.


@font-face
{
font-family: latolite;
src: url(fonts/Lato/Lato-Light.woff);
}  
    
@font-face
{
font-family: latoregular;
src: url(fonts/Lato/Lato-Regular.woff);
}  

body {
    background: #FFFFFF;
    color: #999999;
    font-family: latoregular;
    font-size: 13px;
}

textarea, input{
 
    outline: none;
    
}
.page-master-header {
    height: 50px;
    padding-right: 57px;
    padding-left: 57px;
    border-bottom: 1px solid #e7e7e7;
}

.page-master-header-logo {
    display: inline-block;
    margin-right: 28px;
   
}

.page-master-header-alert {
    display: inline-block;
   font-size: 15px;
}

.page-master-header-searchbox {
    display: inline-block;
    margin-right: 15px;
}

.page-master-header-account-info {
    display: inline-block;
    Border: 1px solid #FFF;
}

.page-master-header-account-info:hover {
   Border: 1px solid #e7e7e7;
Border-radius: 5px;
    
    
}



.page-master-header-account-info ul {
	
    Border: 1px solid #e7e7e7;
    Border-radius: 5px;
    Background: #ececec;
    
   
	display: none;
	list-style: none outside none;
	margin-left: -10px;
	margin-top: 0px;
	min-width: 110px;
	position: absolute;
	z-index: 10;
    padding: none;
}

.page-master-header-account-info:hover>ul {
	display: block;
}

.page-master-header-account-info ul:hover {
	display: block;
}

.page-master-header-account-info ul li {
	
    border-bottom: 1px solid #e7e7e7;
	color: #999999;
	height: 28px;
	list-style: none outside none;
	margin-left: -40px;
	}

.page-master-header-account-info ul li:first-child{
    
 border-radius: 5px 5px 0 0;   
}

.page-master-header-account-info ul li:last-child{
    
    border-radius: 0 0 5px 5px;
}


.page-master-header-account-info ul li:hover{
    
    Background: #00aeef;
    color: #FFFFFF;
}







.page-master-headr-logo-div {
    background-image: url("../img/musttaglogo.png");
    height: 32px;
    width: 102px;
}

.page-master-header-account-info-thumbnail {
    background-image: url("../img/userthumbnail.png");
    height: 22px;
    width: 22px;
    background-size:22px 22px;
    background-repeat:no-repeat;
    display: inline-block
}

.page-master-header-account-info-username {
    display: inline-block;
    vertical-align: top;
    color: #ccc;
}

.page-master-subheader-product-thumbnail {
    background-image: url("../img/iPhone5S.png");
    height: 75px;
    width: 75px;
    background-size:75px 75px;
    background-repeat:no-repeat;
    display: inline-block
}

.page-master-subheader-product-info {
    display: inline-block;
    
}

.page-master-subheader-product-info-rating i{
   color: #00aeef;
}

.masttag-regular-button {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    font-family: latoregular;
    font-size: 12px;
    color: #BBB;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.masttag-regular-button:hover{
 
    border: 1px solid #00aeef;
    color: #00aeef;
}

.page-master-subheader-product-social-stat-button-div {
    display: inline-block;
}

.page-master-subheader-product-social-stat {
    display: inline-block;
}

.page-master-subheader-product-other-images {
    display: inline-block;
}

.page-master-subheader-product-other-images-thumbnail-div { 
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.page-master-subheader-product-other-images-thumbnail-more {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.page-master-subheader-product-ratingstat {
    display: inline-block;
}

.page-master-header-right {
    display: inline-block;
    float: right;
}

.page-master-header-left {
    display: inline-block;
}

.page-master-header-search-text {
    border: 1px solid #e7e7e7;
    width: 350px;
    height: 30px;
    padding: 0 0 0 0;
    font-size: 13px;
    color: #bbbbbb;
    padding-left: 10px;
    padding-right: 30px;
}

.page-master-search-logo {
    margin-left: -30px;
    font-size: 15px;
}

.page-master-subheader {
    border-bottom: 1px solid #e7e7e7;
    padding-right: 57px;
    padding-left: 57px;
   
}

.page-product-master-col1-content {
    
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    
}

.page-product-master-col1-content-one-info {
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

.page-product-master-col1-content-two-link {
    border-top: 1px solid #d9d9d9;
    height: 35px;
}

.page-product-master-col1-content-three-features {
    border-top: 1px solid #d9d9d9;
    height: 35px;
}

.review-head-with-stars-stars {
 font-size: 12px;   
 color: #00aeef;
}

.review-head-with-stars-info {
    display: inline-block;
}

.review-head-with-stars-image {
    display: inline-block;
}

.review-head-with-stars {
    border-bottom: 1px solid #e2e2e2;
}

.review-with-stars {
    border-bottom: 1px solid #d9d9d9;
}

.page-product-col2-div-header {
    display: inline-block;
}

.page-product-col2-comment-div-upper-photo {
    height: 78px;
width: 78px;
border: 1px dashed #d9d9d9;
    border-radius: 3px;
font-size: 62px;
display: inline-block;
font-weight: bold;
color: #d9d9d9;
text-align: center;
}

.page-product-col2-comment-div-upper-div-textarea {
    display: inline-block;
}

.page-product-col2-comment-div-lower-button {
    display: inline-block;
    float: right;
}

.page-product-col2-comment-div-upper {
 border-bottom: 1px solid #d9d9d9;   
}

.page-product-col2-comment-div {
 border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.page-product-col2-comment-div-lower {
    
}

.page-product-col2-comment-div-lower-ratings {
    display: inline-block;
}

.product-page-comment-small-textarea-img {
    display: inline-block;
    vertical-align: top;
}

.page-product-master-col3-comment {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.product-page-comment-small-header {
    border-bottom: 1px solid #d9d9d9;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
}

.product-page-comment-small-header-headline {
    font-size: 15px;
    color: #999999;
    font-weight: bold;
}

.product-page-comment-small-header-hashtags {
 font-size: 13px;
    color: #cccccc;
}

.product-page-comment-small-textarea-div {
    border: 1px solid #EEEEEE;
    margin-top: 5px;
}

.product-page-comment-small-textarea {
    border: none;
}

.page-product-master-col-header {
    height: 26px;
font-size: 10px;
font-weight: bold;
margin-top: 16px;
}

.product-page-comment-small-comment {
    
}

.product-page-comment-small-comment-wrapper {
 padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.product-page-comment-small-comment-info {
    margin-top: 5px;
}

.product-page-comment-small-header-image {
 width: 99%;   
}

.product-page-comment-small-header-with-image {
    padding: 1px;
text-align: center;
}


.page-master-header-searchbox span{
    
    display: none;
    
}

.ui-autocomplete{
 
    list-style: none;
    background: #ededed;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 348px;
    padding: 0px;
}
.ui-autocomplete li{
    
    border-bottom: 1px solid #aaa;
}

.ui-autocomplete li:last-child{
    
    border-bottom: none;
}
.ui-autocomplete li:hover{
 
    background: #00aeef;
    color: #fff;   
}
.page-column-element-wrapper {
  border: 1px solid #d9d9d9;
    border-radius: 5px;
       padding: 8px;
}

.page-friend-owner-images-thumbnail-div {
     height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.page-product-master-col1-content div:last-child{
    
    border-bottom: none;
}






.page-product-newsfeed-col3-single div div{
    display: inline-block;
}


.bold-999{
    
    font-weight: bold;
    color: #999;
}

.review-head-with-stars-content-footer {
    display: block;
}



