/* 
Masttag Common Styling Version 1.0 
Do not change
*/
//TODO: This is a comment.


@font-face
{
font-family: latolite;
src: url(fonts/Lato/Lato-Light.woff);
}  
    
@font-face
{
font-family: latoregular;
src: url(fonts/Lato/Lato-Regular.woff);
}  

body {
    background: #FFFFFF;
    color: #999999;
    font-family: latoregular;
    font-size: 13px;
    margin: 0px;
}

textarea, input{
 
    outline: none;
    
    border: none;
}
.page-master-header {
    height: 50px;
    padding-right: 57px;
    padding-left: 57px;
    border-bottom: 1px solid #e7e7e7;
}

.page-master-header-logo {
    display: inline-block;
    margin-right: 28px;
   
}

.page-master-header-alert {
    display: inline-block;
   font-size: 15px;
    vertical-align: top;
    margin-top: 10px;
}

.page-master-header-searchbox {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    position: relative;
}

.page-master-header-account-info {
    display: block;
    Border: 1px solid #FFF;
    padding-right: 6px;
}

.page-master-header-account-info:hover {
   Border: 1px solid #e7e7e7;
Border-radius: 3px;
    
    
}



.page-master-header-account-info ul {
	
  //  Border: 1px solid #e7e7e7;
    //Border-radius: 5px;
   
    
   
	display: none;
	list-style: none outside none;
	
	margin-top: 0px;
	
	position: absolute;
	z-index: 10;
   
}

.page-master-header-account-info:hover>ul {
	display: block;
}

.page-master-header-account-info ul:hover {
	display: block;
}

.page-master-header-account-info ul li {
	
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
	color: #999999;
	height: 28px;
	list-style: none outside none;
	margin-left: -40px;
     Background: #ececec;
    min-width: 126px;
    
	}

.page-master-header-account-info ul li:first-child{
    
 border-radius: 3px 3px 0 0;  
margin-top: 3px;
    border-top: 1px solid #e7e7e7;
    
}

.page-master-header-account-info ul li:last-child{
    
    border-radius: 0 0 3px 3px;
    
}


.page-master-header-account-info ul li:hover{
    
    Background: #00aeef;
    color: #FFFFFF;
}







.page-master-headr-logo-div {
    background-image: url("../img/musttaglogo.png");
    height: 32px;
    width: 102px;
    
}

.page-master-header-account-info-thumbnail {
    background-image: url("../img/userthumbnail.png");
    height: 22px;
    width: 22px;
    background-size:22px 22px;
    background-repeat:no-repeat;
    display: inline-block
;
    margin-top: 3px;
    margin-left: 3px;
}

.page-master-header-account-info-username {
    display: inline-block;
    vertical-align: top;
    color: #ccc;
    margin-top: 6px;
}

.page-master-subheader-product-thumbnail {

    height: 75px;
    width: 75px;
    display: inline-block;
    margin-top: 20px;
    
}

.page-master-subheader-product-info {
    display: inline-block;
    
    vertical-align: top;
    margin-top: 29px;
}

.page-master-subheader-product-info-rating i{
   color: #00aeef;
}

.masttag-regular-button {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    font-family: latoregular;
    font-size: 12px;
    color: #BBB;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.masttag-regular-button:hover{
 
    border: 1px solid #00aeef;
    color: #00aeef;
}


.masttag-regular-solid-button {
    border: 1px solid #00aeef;
    border-radius: 3px;
    font-family: latoregular;
    font-size: 12px;
    color: #FFF;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    background: #00aeef
}

.masttag-regular-solid-button:hover{
 
   background: #fff;
    color: #00aeef;
}

.page-master-subheader-product-social-stat-button-div {
    display: inline-block;
}

.page-master-subheader-product-social-stat {
    display: inline-block;
    margin-top: 46px;
}

.page-master-subheader-product-other-images {
    display: inline-block;
    margin-top: 65px;
}

.page-master-subheader-product-other-images-thumbnail-div { 
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.page-master-subheader-product-other-images-thumbnail-more {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.page-master-subheader-product-ratingstat {
    display: inline-block;
}

.page-master-header-right {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.page-master-header-left {
    display: inline-block;
    margin-top: 8px;
}

.page-master-header-search-text {
    border: 1px solid #e7e7e7;
    width: 350px;
    height: 30px;
    padding: 0 0 0 0;
    font-size: 13px;
    color: #bbbbbb;
    padding-left: 10px;
    padding-right: 30px;
}

.page-master-search-logo {
   font-size: 15px;
    position: absolute;
    right: 5px;
    top: 7px;
}

.page-master-subheader {
    border-bottom: 1px solid #e7e7e7;
    padding-right: 4%;
    padding-left: 4%;
   
    height: 115px;
}

.page-product-master-col1-content {
    
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    
}

.page-product-master-col1-content-one-info {
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

.page-product-master-col1-content-two-link {
    border-top: 1px solid #d9d9d9;
    height: 35px;
    padding-left: 12px;
    line-height: 35px;
    color: #00aeef;
}

.page-product-master-col1-content-three-features {
    border-top: 1px solid #d9d9d9;
    height: 35px;
    padding-left: 12px;
    color: #00aeef;
    line-height: 35px;
}

.review-head-with-stars-stars {
 font-size: 12px;   
 color: #00aeef;
}

.review-head-with-stars-info {
    display: inline-block;
    padding-bottom: 13px;
}

.review-head-with-stars-image {
    display: inline-block;
    vertical-align: top;
}

.review-head-with-stars {
    border-bottom: 1px solid #e2e2e2;
}

.review-with-stars {
    border-bottom: 1px solid #d9d9d9;
    padding: 12px;
}

.page-product-col2-div-header {
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

.page-product-col2-comment-div-upper-photo {
    height: 78px;
width: 78px;
border: 1px dashed #d9d9d9;
    border-radius: 3px;
font-size: 62px;
display: inline-block;
font-weight: bold;
color: #d9d9d9;
text-align: center;
}

.page-product-col2-comment-div-upper-div-textarea {
    display: inline-block;
}

.page-product-col2-comment-div-lower-button {
    display: inline-block;
    float: right;
    margin-top: -3px;
}

.page-product-col2-comment-div-upper {
 border-bottom: 1px solid #d9d9d9;   
 padding: 12px;
}

.page-product-col2-comment-div {
 border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.page-product-col2-comment-div-lower {
    padding: 12px;
    
}

.page-product-col2-comment-div-lower-ratings {
    display: inline-block;
}

.product-page-comment-small-textarea-img {
    display: inline-block;
    vertical-align: top;
}

.page-product-master-col3-comment {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.product-page-comment-small-header {
    border-bottom: 1px solid #d9d9d9;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
}

.product-page-comment-small-header-headline {
    font-size: 15px;
    color: #999999;
    font-weight: bold;
}

.product-page-comment-small-header-hashtags {
 font-size: 13px;
    color: #cccccc;
}

.product-page-comment-small-textarea-div {
    border: 1px solid #EEEEEE;
    margin-top: 5px;
}

.product-page-comment-small-textarea {
    border: none;
}

.page-product-master-col-header {
    height: 26px;
font-size: 10px;
font-weight: bold;
margin-top: 4px;
}

.product-page-comment-small-comment {
    
}

.product-page-comment-small-comment-wrapper {
 padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.product-page-comment-small-comment-info {
    margin-top: 5px;
}

.product-page-comment-small-header-image {
 width: 99%;   
}

.product-page-comment-small-header-with-image {
    padding: 1px;
text-align: center;
}


.page-master-header-searchbox span{
    
    display: none;
    
}

.ui-autocomplete{
 
    list-style: none;
    
   
  
    width: 348px;
    padding: 0px;
    padding-top: 3px;
    
    z-index: 4000;
}
.ui-autocomplete li{
    
    border: 1px solid #e7e7e7;
    
   
    background: #ececec;
}

.ui-autocomplete li span{
 color: #00aeef   
    
}


.ui-autocomplete li:last-child{
      border-radius: 0 0 3px 3px;
    
}


.ui-autocomplete li:first-child{
      border-radius: 3px 3px 0 0;
    
}

.ui-autocomplete li:hover{
 
    background: #00aeef;
    color: #fff;   
}

.ui-autocomplete li:hover span{
 
   
    color: #fff;   
}


.page-column-element-wrapper {
  border: 1px solid #d9d9d9;
    border-radius: 5px;
       padding: 8px;
}

.page-friend-owner-images-thumbnail-div {
     height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.page-product-master-col1-content div:last-child{
    
    border-bottom: none;
}






.page-product-newsfeed-col3-single div div{
    display: inline-block;
}


.bold-999{
    
    font-weight: bold;
    color: #999;
    font-size: 12px;
}

.review-head-with-stars-content-footer {
    display: block;
    font-size: 11px;
color: #ccc;
margin-right: 5px;
}




.page-product-newsfeed-col3-single {
   
}

.page-product-newsfeed-col3-multiple {
 
}

.page-product-col3-newsfeed {
 border: 1px solid #d9d9d9;
border-radius: 5px;   
    
   margin-top: 14px;
}

.page-product-col3-newsfeed-div{
    
    border-bottom: 1px solid #d9d9d9;
    
    padding: 12px;
}


.page-product-col3-newsfeed-div:last-of-type{
    
    border-bottom:none;
    
}
.page-header-username-menu {
   
    padding-left: 14px;
vertical-align: sub;
    padding-right: 14px;
}


.grid-container{
 
    max-width: 100% !important;
    
}    
    
.page-master-subheader-product-info-name {
    font-size: 25px;
    
}

.page-master-subheader-product-info-rating {
    font-size: 12px;
    
    margin-top: 5px;
}

.page-master-subheader-product-info-hasttags {
    color: #ccc;
    
}

.page-master-subheader-product-social-stat-count {
    
}

.page-master-subheader-product-social-stat-buttons {
    margin-top: 10px;
    
}

.page-master-subheader-product-social-stat-count-span1 {
    
}

.page-master-subheader-product-social-stat-count-span2 {
    color: #ccc;
    
    margin-left: 1px;
    margin-right: 5px;
}

.page-product-master-content-wrapper {
    padding-left: 57px;
    
    padding-right: 57px;
}

.review-head-with-stars-content-footer span, .product-page-comment-small-comment-info span{
    
 font-size: 11px;
    color: #ccc;
    margin-right: 5px;
}



.review-head-with-stars-content{
    
 margin-top: 10px;
    margin-bottom: 8px;
}

.page-product-master-col1 {
    padding-left: 7px;
padding-right: 7px;
}

.page-product-master-col2-big {
    padding-left: 7px;
padding-right: 7px;
}

.page-product-master-col3 {
    padding-left: 7px;
padding-right: 7px;
}

.page-product-master-col4 {
    padding-left: 7px;
padding-right: 7px;
}

.product-page-col2-nested-wrapper {
    margin-top: 14px;
}

.product-page-col2-nested-div-left {
    padding-left: 0px;
    padding-right: 7px;
}

.product-page-col2-nested-div-right {
 padding-right: 0px;
    padding-left: 7px;
}

.product-page-comment-small {
    margin-top: 14px;
}

#tip-arrow {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e7e7e7;
border-style: dashed dashed solid;
border-width: 0 10px 10px;
height: 0;
position: absolute;
top: 36px;
visibility: hidden;
width: 0;
z-index: 1000;
    margin-left: -3px;
}

#tooltip {
   background: #ececec;
border: 1px solid #e7e7e7;
border-radius: 3px;

left: 8%;
position: absolute;
top: 46px;
visibility: hidden;
width: 330px;
    z-index: 999;
}


#scrollbar3 {
	clear: both;
	width: 99%;
}

#scrollbar3 .viewport {
	height: 426px;
	overflow: hidden;
	position: relative;
	width: 96%;
}

#scrollbar3 .overview {
	left: 0;
	list-style: none outside none;
	margin-left: 2px;
	position: absolute;
	top: 0;
	width: 100%;
}

#scrollbar3 .thumb .end,#scrollbar3 .thumb {
	background-color: #9A9A9A;
}

#scrollbar3 .scrollbar {
	float: right;
	position: relative;
	width: 10px;
}

#scrollbar3 .track {
	//background-color: #DDDDDD;
	border-radius: 10px;
	height: 100%;
	padding: 0 1px;
	position: relative;
	width: 8px;
}

#scrollbar3 .thumb {
	border-radius: 10px;
	cursor: pointer;
	height: 20px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 8px;
}

#scrollbar3 .thumb .end {
	display: none;
	height: 5px;
	overflow: hidden;
	width: 8px;
}

#scrollbar3 .disable {
	display: none;
}
#tip-arrow-nested {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ececec;
border-style: dashed dashed solid;
border-width: 0 10px 10px;
height: 0;
position: absolute;
top: 37px;
visibility: hidden;
width: 0;
z-index: 1000;
    margin-left: -3px;
}

.notifications-header {
    text-align: center;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification-ul {
    
    list-style: none;
    
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.see-all {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification-ul li{
    background: #f1f1f1;
margin-bottom: 5px;
margin-left: 5px;
border: 1px solid #e7e7e7;
    
}
.notification-li-button-wrapper {
    display: inline-block;
float: right;
margin-right: 5px;
margin-top: 15px;
}

.notification-li-button {
 display: inline-block;   
}


#tip-arrow1, #tip-arrow2{
     border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #CCC;
border-style: dashed dashed solid;
border-width: 0 10px 10px;
height: 0;
position: absolute;
top: 16px;
width: 0;
z-index: 500;
margin-left: 46px;
    
    
}

#tip-arrow1-nested, #tip-arrow2-nested {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF;
border-style: dashed dashed solid;
border-width: 0 10px 10px;
height: 0;
position: absolute;
top: 17px;
width: 0;
z-index: 500;
margin-left: 46px;
}


#overlay {
	display: none;
	background-color: rgba(0, 0, 0, .3);
	position: absolute;
	top: 0;
    z-index: 1500;
}


.product-page-add-to-wishlist-lightbox {
 background: none repeat scroll 0 0 #FFFFFF;
border-radius: 5px 5px 5px 5px;
display: none;

position: relative;
z-index: 1501;
margin: auto;
    margin-top: 50px;
width: 709px;   
}

.product-page-add-to-wishlist-lightbox-close {
 color: #888888;
cursor: pointer;
font-family: Lucida Console;
font-size: 13px;
font-weight: bold;
height: 36px;
position: absolute;
right: -16px;
top: 7px;
width: 36px;
z-index: 1502;   
}

.product-page-wishlist-lightbox-header {
   font-size: 17px;
height: 45px;
line-height: 45px;
border-bottom: 1px solid #d9d9d9;
font-weight: bold;
padding-left: 10px;
background: #f5f5f5;
    border-radius: 5px 5px 0 0;
}

.product-page-wishlist-lightbox-body {
    
    padding-bottom: 10px;
    height: 420px;
overflow: auto;
}

.product-page-wishlist-lightbox-footer {
    text-align: right;
    
    
 
border-top: 1px solid #d9d9d9;
color: #BBB;
padding-right: 6px;
background: #f5f5f5;
border-radius: 0 0 5px 5px;
    font-size: 11px;
    padding-top: 6px;
padding-bottom: 6px;
}

.product-page-wishlist-lightbox-body-element {
   
display: inline-block;
width: 220px;
margin: 12px;
margin-right: -3px;
   margin-bottom: 0;
}

.product-page-wishlist-lightbox-body-element-image {
 width: 99%;   
     border: 1px solid #d9d9d9;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.product-page-wishlist-lightbox-body-element-buttons-wrapper {
 border: 1px solid #e7e7e7;
border-radius: 3px;   
   
    margin: auto;
    text-align: center;
    color: #BBB;
}


.product-page-wishlist-lightbox-body-element-buttons-wrapper:hover {
    border-color: #00aeef;
     color: #00aeef ;
}

.product-page-wishlist-lightbox-body-element-buttons-button {
    width: 40%;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: latoregular;
font-size: 12px;

    cursor: pointer;
    display: inline-block;
}

.product-page-wishlist-lightbox-body-element-buttons-button-1 {
   
    padding-right: 7px;
    border-right: 1px solid #e7e7e7;
}

.product-page-wishlist-lightbox-body-element-buttons-wrapper:hover > .product-page-wishlist-lightbox-body-element-buttons-button-1{
 
    
    border-right: 1px solid #00aeef;
}



.product-page-wishlist-lightbox-body-element-buttons-button-2 {
    
    padding-left: 7px;
}




.product-page-wishlist-lightbox-body-element-product-name {
    height: 22px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    width: 96%;
    margin: auto;
}

.product-page-wishlist-lightbox-body-element-content {
    padding: 6px;
   border: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}

.product-page-wishlist-lightbox-body-element-rating-stats-line2-1 {
    display: inline-block;
    width: 49%;
    text-align: left;
}

.product-page-wishlist-lightbox-body-element-rating-stats-line2-2 {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.product-page-wishlist-lightbox-body-element-rating-stats-line2 {
    font-size: 11px;
    padding-top: 3px;
    padding-bottom: 10px;
    width: 96%;
    margin: auto;
    color: #ccc;
}

.product-page-wishlist-lightbox-body-element-rating-stats-line1-1 {
 color: #00aeef;  
    width: 40%;
    display: inline-block;
}

.product-page-wishlist-lightbox-body-element-rating-stats-line1-2 {
    font-size: 11px;
color: #ccc;
    width: 58%;
    text-align: right;
     display: inline-block;
}


.product-page-wishlist-lightbox-body-element-rating-stats-line1-2 span{
    margin-right: 5px;
}

.product-page-wishlist-lightbox-body-element-rating-stats-line1-2 span:last-of-type{
    margin-right: 0px;
}

.product-page-wishlist-lightbox-body-element-rating-stats-line1 {
    
    width: 96%;
    margin: auto;
}

.product-page-wishlist-lightbox-footer-button {
    border: 1px solid #00aeef;
border-radius: 3px;
    background: #00aeef;
font-family: latoregular;
font-size: 12px;
color: #FFF;
padding-left: 14px;
padding-right: 14px;
padding-top: 3px;
padding-bottom: 3px;
cursor: pointer;
    display: inline-block;
   // font-weight: bold;
}

.product-page-wishlist-lightbox-filter-search-dropdown select{
    background: transparent;
   width: 220px;
  
  
  
   border: 1px solid #e7e7e7;
   border-radius: 0;
   height: 34px;
  
    
    
    
    height: 30px;
padding: 0 0 0 0;
font-size: 13px;
color: #bbbbbb;
}

.product-page-wishlist-lightbox-filter-search-dropdown {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.product-page-wishlist-lightbox-filter-search {
   padding-top: 10px;
//padding-bottom: 2px;
}

.product-page-wishlist-lightbox-filter-search-text input{
    width: 405px;
}

.product-page-wishlist-lightbox-filter-search-result {
    padding-left: 14px;
    padding-top: 10px;
   
    color: #BBB;
}

.user-page-body-element-product-and-comment {
    width: auto;
    margin: 0px;
}

.user-page-body-element-product-and-comment-tag-button {
    font-size: 11px;
}

.user-page-body-element-product-and-comment-content {
 border-radius:0px;   
}

.user-page-body-element-product-and-comment-old-review {
     border: 1px solid #d9d9d9;
    border-top: none;
     border-radius: 0 0 5px 5px;
    
}

.page-user-col4-newsfeed {
    margin-top: 0px;
}

.page-user-wishlist-element {
    padding: 12px;
   border-bottom: 1px solid #d9d9d9;
}


.page-user-wishlist-element-line {
   
    // text-align: center;
}

.page-user-wishlist-element-line-left {
     width: 48%;
    display: inline-block;
}

.page-user-wishlist-element-line-right {
     width: 49%;
    display: inline-block;
    text-align: right;
    
}

.page-user-wishlist-element-line1-right {
    font-size: 24px;
}

.page-user-wishlist-element-line1-left {
    vertical-align: super;
    font-size: 13px;
    font-weight: bold;
    color: #AAA;
}

.page-user-wishlist-element-line2-left {
    color: #00AEEF;
}

.page-user-wishlist-element-line2-right {
    color: #BBB;
    font-size: 11px;
}



.page-user-wishlist-element-line3-left {
    color: #BBB;
    font-size: 11px;
}

.page-user-wishlist-element-line3-right {
    color: #BBB;
    font-size: 11px;
}

.page-user-wishlist-wrapper {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    
}

.page-user-wishlist-wrapper:last-child{
    border-bottom: none;
}

.landing-page-master-header {
    text-align: center;
}

.landing-page-master-header-logo {
    margin-right: 0px;
}

.landing-page-master-header-wrapper {
    background: #f8f8f8;
    padding-bottom: 70px;
}

.landing-page-review-head-with-line {
     font-size: 12px;
color: #ccc;
}

.landing-page-search-wrapper {
     padding-top: 10px;
    text-align: center;
}

.landing-page-search-text-div {
    display: inline-block;
    
    vertical-align: top;
    position: relative;
}

.landing-page-search-text-div span{
    display: none;
}



.landing-page-search-text-div input{
 width: 405px;   
}

.landing-page-seach-select-div {
    display: inline-block;
padding-left: 9px;
    padding-right: 0px;
}

.landing-page-subheader-one {
    font-size: 35px;
    text-align: center;
    padding-top: 84px;
    padding-bottom: 70px;
    font-weight: bold;
}

.landing-page-subheader-two-image {
    width: 486px;
    display: inline-block;
}

.landing-page-subheader-two-right {
    display: inline-block;
    vertical-align: top;
}

.landing-page-subheader-two-right-top {
    font-size: 19px;
    color: #999;
    margin-bottom: 28px;
}

.landing-page-subheader-two-right-bottom {
    font-size: 14px;
    color: #999;
}

.landing-page-subheader-two-right-button-div1 {
 width: 39px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e7e7e7;
    height: 39px;
    font-size: 20px;
    border-radius: 3px 0 0 3px;
}


.landing-page-subheader-two-right-button-div1 i{
 line-height: 40px;   
}

.landing-page-subheader-two-right-button-div2 {
 display: inline-block;  
     height: 39px;
     border: 1px solid #e7e7e7;
    vertical-align: top;
    line-height: 39px;
    margin-left: -5px;
    padding-left: 14px;
    width: 181px;
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.landing-page-subheader-two-right-button {
    font-size: 14px;
    font-weight: bold;
    color: #bbb;
    background: #FFF;
    margin-bottom: 14px;
}

.landing-page-subheader-two-right-button:HOVER {
    background-image: -moz-linear-gradient( 90deg, rgba(0,1,1,0.25098) 0%, rgba(128,128,128,0.25) 25%, rgba(255,255,255,0.25098) 100%);
background-image: -webkit-linear-gradient( 90deg, rgba(0,1,1,0.25098) 0%, rgba(128,128,128,0.25) 25%, rgba(255,255,255,0.25098) 100%);
background-image: -ms-linear-gradient( 90deg, rgba(0,1,1,0.25098) 0%, rgba(128,128,128,0.25) 25%, rgba(255,255,255,0.25098) 100%);
 cursor: pointer;
}

.landing-page-subheader-two {
    width: 740px;
margin: auto;
}

.landing-page-2-element {
    border-radius: 0 0 5px 5px;
}

.landing-page-2-select {
    padding-left: 0px;
padding-right: 10px;
}
