body{

font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;

}


.lightbox1-wrapper {
  
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 20px #1A2A4D;
    width: 950px;
}


.lightbox-button{

margin: 15px auto 10px;
    text-align: center;
}

.lightbox1-content{

height: 180px;
    margin: 35px auto auto;
    overflow: auto;
    width: 930px;
}

/* breadcrumb start */

.breadcrumb-one{
 background: none repeat scroll 0 0 #ADBBD7;
    border-bottom: 1px solid #1A2A4D;
    border-radius: 4px 4px 0 0;
    color: #ADBBD7;
    height: 40px;
}

.breadcrumb-one #step1{

color: white !important;
font-weight: bold !important;

}


.breadcrumb-1{
border-bottom: 20px solid transparent;
    border-left: 20px solid #63B0E4;
    border-top: 20px solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 0;
 
    margin-left: -4px;
    vertical-align: top;
    width: 0;

}


.breadcrumb-text{
 display: inline-block;
    height: 40px;
    width: 125px;
      margin-left: -4px;
       text-align: center;
    }

.breadcrumb-text-text{
 display: inline-block;
    font-size: 13px;
    margin-top: 10px;
}

#step0-tip{
 border-top: 20px solid #5C77AE;
  border-bottom: 20px solid #5C77AE;
   border-left: 20px solid #ADBBD7;

}


#step1-tip{
 border-left: 20px solid #5C77AE;
}

#step1{
background: none repeat scroll 0 0 #5C77AE;

}



#step2-tip{
 border-left: 20px solid #33559A;
}

#step2{
background: none repeat scroll 0 0 #33559A;
}

#step1-tip{
border-bottom: 20px solid #33559A;
    border-top: 20px solid #33559A;
}





#step3-tip{
 border-left: 20px solid #29447B;
}

#step3{
background: none repeat scroll 0 0 #29447B;
}

#step2-tip{
border-bottom: 20px solid #29447B;
    border-top: 20px solid #29447B;
}


#step4-tip{
 border-left: 20px solid #1A2A4D;
}

#step4{
background: none repeat scroll 0 0 #1A2A4D;
}

#step3-tip{
border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
}

/* end breadcrumb */


.lightbox1-line{

height: 60px;

}


.lightbox1-product-list{
display: inline-block;
}
.lightbox1-product-brand{
display: inline-block;
}
.lightbox1-product-model{
display: inline-block;
}
.lightbox1-product-rating{
display: inline-block;
}
.lightbox1-product-review{
display: inline-block;
 width: 80px;
 vertical-align:top;
}

.lightbox1-product-review-text{

    margin-left: -100px;
    margin-top: 5px;
    width: 350px;
	 font-style: italic;
	}
#tooltip1, #tooltip2, #tooltip3{
visibility:hidden;
 
  
    position: absolute;
  margin-top:9px;
 
   
    background: none repeat scroll 0 0 padding-box rgba(255, 255, 255, 0.98);
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
 
    
}


#tip-arrow1, #tip-arrow2, #tip-arrow3{

visibility:hidden;
 margin-left: 20px;
border-style: dashed dashed solid;
border-width: 0px 10px 10px; 
z-index: 1000; 
height: 0px; 
width: 0px; 
position: absolute; 

border-color: transparent transparent #AAA;
}


#tip1, #tip2, #tip3{
cursor: pointer;

}


.lightbox-button-div{
 
  background: -moz-linear-gradient(center top , #63B0E4 0%, #008DD5 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63B0E4), color-stop(100%,#008DD5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #63B0E4 0%,#008DD5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #63B0E4 0%,#008DD5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #63B0E4 0%,#008DD5 100%); /* IE10+ */
background: linear-gradient(to bottom, #63B0E4 0%,#008DD5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63B0E4', endColorstr='#008DD5',GradientType=0 ); /* IE6-9 */      
 
 
    border: 1px solid #3586C2;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
  
    margin-left: 15px;
    margin-right: 0;
    margin-top: 5px;
     display: inline-block;


}

.lightbox-button-div:hover {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #4FA8E2 100%) repeat scroll 0 0 transparent;    
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63B0E4), color-stop(100%,#4FA8E2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #63B0E4 0%,#4FA8E2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #63B0E4 0%,#4FA8E2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #63B0E4 0%,#4FA8E2 100%); /* IE10+ */
background: linear-gradient(to bottom, #63B0E4 0%,#4FA8E2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63B0E4', endColorstr='#4FA8E2',GradientType=0 ); /* IE6-9 */
   
}

.lightbox-button-text-span{

 color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 15px;
}

