.signin-page-three-col-wrapper {
    box-shadow: 0 0 20px 1px #AAAAAA;
    margin: 30px auto;
    width: 80%;
}
.signin-page-col1 {
    -moz-box-sizing: border-box;
    display: inline-block;
    width: 33.33%;
}
.signin-page-col2 {
    -moz-box-sizing: border-box;
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    width: 33.33%;
}
.signin-page-col3 {
    -moz-box-sizing: border-box;
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    width: 33.33%;
}
.signin-page-col1-item {
    padding: 12px 6px 0;
}
.signin-page-col1-item-image {
    border-right: 2px solid #EEEEEE;
    display: inline-block;
    text-align: center;
}
.signin-page-col1-item-text {
}
.signin-page-col1-item-review {
    display: inline-block;
    font-size: 11px;
    margin: 5px auto;
    vertical-align: top;
    width: 80%;
}
.signin-page-col1-item-stat {
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    vertical-align: top;
}
.signin-page-col1-header {
    background: none repeat scroll 0 0 #E85581;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    height: 38px;
    line-height: 38px;
    margin-bottom: 5px;
    padding-left: 15px;
}
.signin-page-col1-item-header {
    background: none repeat scroll 0 0 #CB202D;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
}
.signin-page-col1-item-review-wrapper {
    background: none repeat scroll 0 0 #FAE9EA;
}
.signin-page-col1-item-review-wrapper img {
    margin: 5px;
}
.signin-page-col1-item-reviewer {
    font-weight: bold;
}
.signin-page-col3-item {
    background: none repeat scroll 0 0 #EEEEEE;
    border-left: 6px solid #FFFFFF;
    border-right: 6px solid #FFFFFF;
    border-top: 12px solid #FFFFFF;
    height: 110px;
}
.signin-page-col3-item-header {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 25px;
}
.signin-page-col3-item-image {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 90px;
}
.signin-page-col3-item-text {
    margin-left: 20px;
    margin-top: 5px;
}
.signin-page-col3-item-stat {
    display: inline-block;
    margin-left: 20px;
}
.signin-page-col3-header, .signin-page-col2-header {
    background: none repeat scroll 0 0 #FCB72E;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bolder;
    height: 38px;
    line-height: 38px;
    margin-bottom: 5px;
    padding-left: 15px;
}
.signin-page-col3-item-stat-inner {
    display: inline-block;
    width: 75px;
}
.signin-page-col2-item {
    padding: 12px 6px 0;
}
.signin-page-col2-item-header {
    background: none repeat scroll 0 0 #FCB72E;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
}
.signin-page-col2-item-image {
    display: inline-block;
    text-align: center;
}
.signin-page-col2-item-text {
    display: inline-block;
    margin-left: 25px;
    margin-top: 30px;
    vertical-align: top;
    width: 140px;
}
.signin-page-col2-item-stat {
}


.signin-page-col3-header {
    background: none repeat scroll 0 0 #62A250;
}
