body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    margin: auto;
    min-width: 1200px;
}
.reg-lightbox-1-wrapper, .reg-lightbox-1-1-wrapper {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 24px 0 #222222;
    display: none;
    margin-left: 100px;
    margin-top: 30px;
    padding: 25px;
   
     position: fixed;
    left: 25%;
    top: 8%;
    z-index: 1002;
     background: none repeat scroll 0 0 #FFFFFF;
}
.reg-lightbox-1-textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #BBBBBB;
    border-radius: 5px 0 0 5px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding-left: 5px;
    width: 350px;
}
.reg-lightbox-1-searchbutton {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/search-icon.png") repeat scroll 0 0 #FFFFFF;
    border-color: #BBBBBB;
    border-radius: 0 5px 5px 0;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    cursor: pointer;
    height: 24px;
    margin-left: -5px;
    vertical-align: top;
    width: 22px;
}
.reg-lightbox-1-search-bottom-text {
    border-bottom: 1px solid #CCCCCC;
    height: 30px;
    line-height: 23px;
    text-align: center;
}
.reg-lightbox-1-search-bottom-text span {
    color: #33559A;
    font-weight: bold;
}
.reg-lightbox-1-search-dropdown {
    height: 35px;
    line-height: 35px;
}
.reg-lightbox-1-search-item {
    border-radius: 8px 8px 8px 8px;
    margin: 5px;
    padding: 5px;
}
.reg-lightbox-1-search-item:hover {
    box-shadow: 0 0 9px #C8C8C8;
}
.img-wrapper {
    display: inline-block;
}
.data {
    display: inline-block;
    vertical-align: top;
}
.data h3 {
    margin-top: 0;
}
.stat {
}
.properties {
    height: 35px;
}
#scrollbar-lightbox {
    clear: both;
    margin: 5px 0 10px;
    width: 103%;
}
#scrollbar-lightbox .viewport {
    height: 335px;
    overflow: hidden;
    position: relative;
    width: 97%;
}
#scrollbar-lightbox .overview {
    left: 0;
    list-style: none outside none;
    position: absolute;
    top: 0;
    width: 99%;
}
#scrollbar-lightbox .thumb .end, #scrollbar-lightbox .thumb {
    background-color: #555555;
}
#scrollbar-lightbox .scrollbar {
    float: right;
    position: relative;
    width: 10px;
}
#scrollbar-lightbox .track {
    background-color: #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 8px;
}
#scrollbar-lightbox .thumb {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 8px;
}
#scrollbar-lightbox .thumb .end {
    display: none;
    height: 5px;
    overflow: hidden;
    width: 8px;
}
#scrollbar-lightbox .disable {
    display: none;
}

.reg-lighbox-1-add-new{
	text-align: center;
	font-weight: bold;
	color: #777;
}

.reg-lighbox-1-add-new-button{
	
	 background: -moz-linear-gradient(center top , #FFFFFF 0%, #DEDEDE) repeat scroll 0 0 transparent;
    border: 1px solid #B2B2B2;
    border-radius: 6px 6px 6px 6px;
    color: #777777;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-left: 9px;
    margin-right: 4px;
    margin-top: 5px;
    min-height: 14px;
    position: relative;
    text-align: center;
    width: 90px;
}


