body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    margin: auto;
    min-width: 1200px;
}
.landing-header {
    background: none repeat scroll 0 0 rgba(112, 136, 184, 0.15);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    color: #555555;
    font-size: 16px;
    height: 120px;
    position: fixed;
    text-align: center;
    top: 40px;
    width: 100%;
    z-index: 4;
}
.landing-header-text {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}
.landing-header-button {
}
.landing-header-button-div {
}
.landing-content {
    margin: 160px auto auto;
    min-height: 100%;
    padding-bottom: 300px;
    position: relative;
    width: 980px;
    z-index: 1;
}
.landing-bottom {
    background: none repeat scroll 0 0 rgba(112, 136, 184, 0.2);
    color: #555555;
    height: 160px;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.landing-bottom-skip {
    height: 20px;
    line-height: 20px;
    text-align: right;
}
.landing-content-item {
    border-bottom: 1px solid #E2E2E2;
    margin: auto;
    overflow: hidden;
    padding: 22px 0;
    text-align: center;
    width: 900px;
}
.landing-content-item-title {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    text-align: left;
}
.landing-content-item-list {
}
.landing-content-item-list-element {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
}
.landing-content-item-list-img {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #FFFFFF;
    display: block;
    height: 90px;
    margin: 10px 9px 5px 0;
    width: 120px;
}
.landing-content-item-list-img:hover {
    box-shadow: 0 0 10px #AAAAAA;
    cursor: pointer;
}
.landing-content-item-list-img-title {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    left: 10px;
    max-height: 28px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-shadow: 0 0 2px #000000;
    top: 15px;
    width: 80%;
}
.landing-content-item-list-img-bottom {
    color: #33559A;
    font-size: 10px;
    padding-left: 4px;
    width: 120px;
}
.grey {
    color: #999999;
}
.landing-header-button-div {
	
	background: #67AE55; /* Old browsers */
background: -moz-linear-gradient(top,  #67AE55 0%, #578843 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67AE55), color-stop(100%,#578843)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #67AE55 0%,#578843 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #67AE55 0%,#578843 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #67AE55 0%,#578843 100%); /* IE10+ */
background: linear-gradient(to bottom,  #67AE55 0%,#578843 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67AE55', endColorstr='#578843',GradientType=0 ); /* IE6-9 */
	
	
	
	
    background: -moz-linear-gradient(center top , #67AE55, #578843) repeat scroll 0 0 #69A74E;
    border-color: #3B6E22 #3B6E22 #2C5115;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #A4E388 inset;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 27px;
    margin-top: 10px;
    text-align: center;
    vertical-align: top;
    width: 145px;
}
.landing-header-skip, .landing-bottom-skip {
    margin-top: -8px;
    text-align: right;
    width: 95%;
}
.landing-bottom-skip div, .landing-header-skip div {
    background: none repeat scroll 0 0 #6079AB !important;
    border-color: #29447E #29447E #1A356E;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
    vertical-align: top;
    width: 65px;
}
.landing-header-skip a, .landing-bottom-skip a {
}
.landing-header-skip a:hover, .landing-bottom-skip a:hover {
}
.landing-bottom-skip {
    margin-top: 10px;
}


.landing-bottom-selected-item{
	
	 padding-left: 14px;
}


#overlay {
    display: none;
    opacity: 0.4;
    position: absolute;
    top: 0;
}

.pageheader {
    background: none repeat scroll 0 0 #EEEEEE;
   border-bottom: 1px solid #33569B;
    height: 35px;
    left: 0;
    padding-left: 6%;
    position: fixed;
    top: 0;
    width: 94%;
    z-index: 1000;
    
}

.pageheader-alert ul {
    background: none repeat scroll 0 0 #33559A;
    display: none;
    list-style: none outside none;
    margin-left: -10px;
    margin-top: 2px;
    min-width: 110px;
    position: absolute;
    z-index: 10;
}


.pageheader-alert {
    border-left: medium none;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    padding: 0 16px 0 9px;
    vertical-align: top;
}

.pageheader-right {
    display: inline-block;
    float: right;
    margin-right: 70px;
    vertical-align: top;
}


.company-logo {
    display: block;
    padding-top: 2px;
}

.pageheader-logo {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    margin-left: 20px;
}
