.pageheader {
    height: 85px;
}
.loginpage-header {
    border-bottom: medium none;
    box-shadow: none;
    margin-top: 30px;
    width: 85%;
}
.pageheader-logo {
}
.company-logo {
    font-size: 30px;
}
.pageheader-right {
    float: none;
    margin-left: 15px;
}
.signin-error-content-div {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    margin: 100px auto auto;
    width: 580px;
}
.signin-error-content-header {
    border-bottom: 1px solid #CCCCCC;
    color: #1C2A47;
    font-size: 19px;
    height: 30px;
    line-height: 30px;
    margin: auto;
    padding: 5px;
    width: 95%;
}
.signin-error-content-body {
}
.signin-error-content-body-div1 {
    background-color: #FFEBE8;
    border: 1px solid #DD3C10;
    margin: 18px auto auto;
    padding: 5px;
    width: 95%;
}
.signin-error-content-body-div1-head {
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
}
.signin-error-content-body-div1-content {
}
.signin-error-content-body-div2 {
    margin-left: 80px;
    margin-top: 15px;
}
.signin-error-content-body-div2-header {
    color: #777777;
    display: inline-block;
    font-weight: bold;
    margin-top: 35px;
    vertical-align: top;
    width: 130px;
}
.signin-error-content-body-div2-content1 {
    border-color: #D8D8D9;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 70px;
    width: 70px;
}
.signin-error-content-body-div2-content2 {
    display: inline-block;
    margin-left: 15px;
    padding-top: 10px;
    vertical-align: top;
}
.signin-error-content-body-div3 {
    margin-left: 80px;
    margin-top: 5px;
}
.signin-error-content-body-div3-header {
    color: #777777;
    display: inline-block;
    font-weight: bold;
    margin-top: 5px;
    vertical-align: top;
    width: 130px;
}
.signin-error-content-body-div3-content {
    display: inline-block;
}
.signin-error-content-body-div4 {
    margin-left: 210px;
    margin-top: 10px;
}
.signin-error-content-body-div5 {
    margin-left: 210px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.signin-error-content-body-div3-content-checkbox{

margin-top: 5px;
}

.signin-error-page-link{
	
	color: #3B5998;
    cursor: pointer;
    text-decoration: none;
}

.signin-error-page-link:hover{
	
	
    text-decoration: underline;
}


.signin-footer {
    display: none;
}
