.pageheader {
    background: none repeat scroll 0 0 #33559A;
    border-bottom: 1px solid #AAAAAA;
    border-top: 2px solid;
    box-shadow: 0 6px 14px #333333;
    height: 55px;
    padding-left: 0;
}
.loginpage-header {
    border-bottom: 1px solid #3B3234;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
    height: 48px;
    margin: 6px auto auto;
    width: 95%;
}
.pageheader-howitworks {
    border: medium none;
}
.pageheader-alert {
    border: medium none;
}
.signup-div {
    color: #777777;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    width: 100%;
}
select, input {
    border: medium none;
    padding: 4px;
}
.username-password {
    display: inline-block;
    margin-top: 4px;
    vertical-align: top;
}
.pageheader-right {
    margin-right: 0;
}
.login-button {
    background: none repeat scroll 0 0 #6079AB !important;
    border-color: #29447E #29447E #1A356E;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
    vertical-align: top;
    width: 60px;
}
.login-button span {
}
.pageheader-right div:hover {
    background: none repeat scroll 0 0 #33559A;
}
.signin-fb-tw {
    background: none repeat scroll 0 0 #EEEEEE;
    display: inline-block;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    vertical-align: top;
}
.signin-fb-button {
    background: -moz-linear-gradient(center top , #517FC5 0%, #3F62AB 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3586C2;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    margin: 10px auto auto;
    width: 200px;
}
.signin-tw-button {
    background: -moz-linear-gradient(center top , #63B0E4 0%, #008DD5 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3586C2;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    margin: 10px auto auto;
    width: 200px;
}
.signin-fb-button a, .signin-tw-button a {
    margin-left: 6px;
}
.signup-div-wrapper {
    box-shadow: 0 27px 35px -20px #666666;
    font-size: 14px;
    height: 140px;
    margin: 30px auto auto;
    width: 80%;
}
.signin-or {
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    margin: 150px 10px 0;
    vertical-align: top;
}


.forgotPasswordLink {
    color: #98A9CA;
    text-decoration: none;
}
.forgotPasswordLink:hover {
    text-decoration: underline;
}
.pageheader-textarea {
    border: 0 none;
    font-size: 12px;
    height: 18px;
    margin-left: 50px;
    padding-left: 5px;
    width: 350px;
}
.pageheader-searchbutton {
    background: url("../images/search-icon.png") repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    cursor: pointer;
    height: 22px;
    margin-left: -25px;
    vertical-align: super;
    width: 22px;
}
.company-logo {
    display: block;
    font-size: 23px;
    padding-top: 0;
}
.pageheader-logo {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}
.pageheader-searchbar {
    display: block;
    margin-left: 0;
    padding-top: 4px;
    vertical-align: text-bottom;
}
.signup-div select{
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 5px;
    margin-top: 10px;
   
      font-size: 13px;
    height: 30px;
}

.signup-div-input-text {
 background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    display: block;
    font-size: 13px;
    height: 22px;
    margin: 20px auto auto;
    width: 250px;
    
}
.signup-div select {
    margin-top: 3px;
}
.password-request-submit-message {
    padding: 40px 50px 50px;
    text-align: center;
}
.password-new-message {
    padding: 40px 50px 50px;
    text-align: center;
}
.signin-page-search-fb-tw-wrapper {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 675px;
}
html, body {
    height: 100%;
}
.signin-page-wrapper {
    height: auto !important;
    margin: 0 auto -100px;
    min-height: 100%;
}
.signin-footer, .signin-page-push {
    height: 100px;
}
.signin-footer {
    background: none repeat scroll 0 0 #EDF0F5;
}
.signin-page-search-textarea {
    border: 1px solid #D9D4CD;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 5px #D9D4CD inset;
    color: #5B5B5B;
    font-size: 15px;
    height: 37px;
    line-height: 37px;
    outline: medium none;
    padding-left: 8px;
    position: relative;
    width: 550px;
    z-index: 1;
}
.signin-page-lightbox-signup {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 24px 0 #222222;
    display: none;
    left: 34%;
    position: absolute;
    top: 12%;
    width: 400px;
    z-index: 1002;
}
.signin-lightbox-close {
    color: #888888;
    cursor: pointer;
    font-family: Lucida Console;
    font-size: 13px;
    font-weight: bold;
    height: 36px;
    position: absolute;
    right: -16px;
    top: 7px;
    width: 36px;
    z-index: 8040;
}
.signin-search-button {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #DEDEDE) repeat scroll 0 0 transparent;
    border: 1px solid #B2B2B2;
    border-radius: 9px 9px 9px 9px;
    color: #777777;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-left: 9px;
    margin-right: 4px;
    margin-top: 4px;
    min-height: 14px;
    padding: 0 10px 1px 11px;
    position: relative;
}
.signin-page-search-title {
    color: #33559A;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}
.signin-fb-tw-text {
    font-size: 12px;
    font-weight: bold;
}
.signin-page-signup-button, .signin-page-lightbox-signup-button {
    background: -moz-linear-gradient(center top , #67AE55, #578843) repeat scroll 0 0 #69A74E !important;
    border-color: #3B6E22 #3B6E22 #2C5115 !important;
    border-style: solid !important;
    border-width: 1px !important;
    box-shadow: 0 1px 1px #A4E388 inset !important;
    color: white !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 14px !important;
    font-weight: bold !important;
    height: 30px;
    line-height: 27px !important;
    margin-left: 15px !important;
    margin-top: 3px;
    text-align: center !important;
    vertical-align: top !important;
    width: 80px !important;
}
.signin-page-signup-button:hover {
    background: -moz-linear-gradient(center top , #67AE55, #578843) repeat scroll 0 0 #69A74E !important;
}
.signin-page-lightbox-signup-button {
    line-height: 30px;
    margin-left: 0;
    margin-top: 15px;
}
.signin-page-facebook-like-plugin {
    color: #EEEEEE;
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
}
.signin-footer-inside-wrapper {
    color: #4766A4;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: 80%;
}
.signin-footer-inside-wrapper td {
    padding-right: 25px;
}
.signin-footer-inside-wrapper td:hover {
    cursor: pointer;
    text-decoration: underline;
}
.signin-footer-inside-wrapper tr {
    line-height: 20px;
}
.signin-footer-endnote {
    margin-top: 15px;
}
.signup-error {
    color: #EE0000;
    height: 15px;
    margin-top: -15px;
}
.signup-header-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
}
.signup {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    padding-top: 15px;
}
.signup-div-header {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
    padding-bottom: 5px;
    text-align: center;
}
.signup-footer {
    background: none repeat scroll 0 0 #F9F9F9;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #BBBBBB;
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    height: 35px;
    line-height: 42px;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.signup-div-select-radio{
	
	margin-top: 10px;
}
.signup-terms-conditions{
	 color: #999999;
    font-size: 10px;
    font-weight: normal;
    line-height: 16px;
    margin: 10px auto auto;
    text-align: center;
    width: 250px;
	
}

.signup-footer-login{
	color: #6079AB;
    cursor: pointer;
    font-weight: bold;
}
.signup-footer-login:HOVER{
	text-decoration: underline;
}
