.pageheader {
    background: none repeat scroll 0 0 #33559A;
    border-bottom: 1px solid #AAAAAA;
    border-top: 2px solid;
    box-shadow: 0 6px 14px #333333;
    height: 59px;
    padding-left: 0;
}
.loginpage-header {
    border-bottom: 1px solid #3B3234;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
    height: 50px;
    margin: 10px auto auto;
    width: 90%;
}
.pageheader-howitworks {
    border: medium none;
}
.pageheader-alert {
    border: medium none;
}
.signup-div {
    color: #444444;
    display: inline-block;
    line-height: 25px;
    margin-top: 20px;
    width: 275px;
}
select, input {
    border: medium none;
    padding: 4px;
}
.username-password {
    display: inline-block;
}
.pageheader-right {
    margin-right: 0;
}
.login-button {
    background: none repeat scroll 0 0 #6079AB !important;
    border-color: #29447E #29447E #1A356E;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 18px;
    margin-top: 4px;
    padding-top: 3px;
    text-align: center;
    vertical-align: top;
    width: 50px;
}
.login-button span {
}
.pageheader-right div:hover {
    background: none repeat scroll 0 0 #33559A;
}
.signin-fb-tw {
    display: inline-block;
    margin-left: 10%;
    margin-top: 50px;
    vertical-align: top;
}
.signin-fb-button, .signin-tw-button {
    border: 1px solid;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    margin-top: 20px;
    width: 200px;
}
.signin-fb-button a, .signin-tw-button a {
    margin-left: 30px;
}
.signup-div-wrapper {
    font-size: 14px;
    margin: 30px auto auto;
    width: 80%;
}
.signin-or {
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    margin: 150px 10px 0;
    vertical-align: top;
}
.signup-div input[type="text"] {
    width: 200px;
}
.forgotPasswordLink {
    color: #98A9CA;
    text-decoration: none;
}
.forgotPasswordLink:hover {
    text-decoration: underline;
}
.pageheader-textarea {
    border: 0 none;
    font-size: 12px;
    height: 18px;
    margin-left: 50px;
    padding-left: 5px;
    width: 350px;
}
.pageheader-searchbutton {
    background: url("../images/search-icon.png") repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    cursor: pointer;
    height: 22px;
    margin-left: -25px;
    vertical-align: super;
    width: 22px;
}
.company-logo {
    display: block;
    font-size: 23px;
    padding-top: 0;
}
.pageheader-logo {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}
.pageheader-searchbar {
    display: block;
    margin-left: 0;
    padding-top: 4px;
    vertical-align: text-bottom;
}
.signup-div select, .signup-div input {
    border: 1px solid #444444;
    font-size: 14px;
    margin-top: 5px;
    padding: 4px;
}
.signup-div select {
    margin-top: 0;
}
.password-request-submit-message {
    padding: 40px 50px 50px;
    text-align: center;
}
.password-new-message {
    padding: 40px 50px 50px;
    text-align: center;
}
.signin-page-search-fb-tw-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 650px;
}
html, body {
    height: 100%;
}
.signin-page-wrapper {
    height: auto !important;
    margin: 0 auto -100px;
    min-height: 100%;
}
.signin-footer, .signin-page-push {
    height: 100px;
}
.signin-footer {
    background: none repeat scroll 0 0 #676767;
}
.signin-page-search-textarea {
    border: 1px solid;
    margin-right: -2px;
    padding: 6px;
    width: 400px;
}
.signin-page-three-col-wrapper {
    margin: 30px auto;
    width: 85%;
}
.signin-page-col1 {
    border: 1px solid;
    display: inline-block;
    height: 300px;
    width: 32%;
}
.signin-page-col2 {
    border: 1px solid;
    display: inline-block;
    height: 300px;
    width: 33%;
}
.signin-page-col3 {
    border: 1px solid;
    display: inline-block;
    height: 300px;
    width: 32%;
}
