.pageheader {
    background: none repeat scroll 0 0 #33559A;
    border-bottom: 1px solid #AAAAAA;
    border-top: 2px solid;
    box-shadow: 0 6px 14px #333333;
    height: 59px;
    padding-left: 0%;
}



.loginpage-header{
 border-bottom: 1px solid #3B3234;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
    height: 50px;
    margin: 10px auto auto;
    width: 90%;
}


.pageheader-howitworks {
	border: none;
	}
	
	
	.pageheader-alert {
	border: none;
	}
	
	.signup-div {
    color: #444;
    margin-left: 10%;
    margin-top: 20px;
    width: 400px;
}

select, input{
	
	margin-top: 5px;
    border: medium none;
    padding: 4px;

}




.username-password{
	display: inline-block;	
	
}


.pageheader-right {
	
	margin-right: 0px;
}

.login-button {
    background: none repeat scroll 0 0 #6079AB !important;
    border-color: #29447E #29447E #1A356E;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 18px;
    margin-top: 4px;
    padding-top: 3px;
    text-align: center;
    vertical-align: top;
    width: 50px;
    cursor: pointer;
}

.login-button span{	
}


.pageheader-right div:hover{
	
	 background: none repeat scroll 0 0 #33559A;
}

.forgotPasswordLink{
	
	text-decoration: none;
	color: #98A9CA;
	
}
.forgotPasswordLink:hover{
	
	text-decoration: underline;
	
}
.pageheader-textarea {
    border: 0 none;
    font-size: 12px;
    height: 18px;
    margin-left: 50px;
    padding-left: 5px;
    width: 350px;
}

.pageheader-searchbutton {
    background: url("../images/search-icon.png") repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    cursor: pointer;
    height: 22px;
    margin-left: -25px;
    vertical-align: super;
    width: 22px;
}

.company-logo {
    display: block;
    font-size: 23px;
    padding-top: 0;

}

.pageheader-logo {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
   
}

.pageheader-searchbar {
    display: inline-block;
    margin-left: 0;
    padding-top: 4px;
    vertical-align: text-bottom;
}

.signup-div select, .signup-div input {
    border: 1px solid #444444;
    margin-top: 5px;
    padding: 4px;
}


.password-request-submit-message{
	
	 padding: 40px 50px 50px;
    text-align: center;
	
}

.password-new-message{
	 padding: 40px 50px 50px;
    text-align: center;
	
	
	
}

